.dm-benefits3
    .dm-benefits3__items
        .dm-benefits3__row
            //- .dm-benefits3__item
            //-     a.dm-benefits3__link(href="https://www.coral.ru/main/turkey/mir/" target="_blank")
            //-         img.dm-benefits3__img(src="./img/content/coral/benefits3-3.jpg", alt="Удобная оплата картой МИР")

            //- .dm-benefits3__item
            //-     a.dm-benefits3__link(href="https://www.coral.ru/hot-offers/broniruyte-v-rassrochku-s-oplatoy-po-karte-halva/" target="_blank")
            //-         img.dm-benefits3__img(src="./img/content/coral/benefits3-4.jpg", alt="Отдыхать с&nbsp;&laquo;Халвой&raquo; выгодно")

            .dm-benefits3__item
                img.dm-benefits3__img(src="./img/content/coral/benefits3-7--default2.jpg", alt="Специальная цена на тур по промокоду SPB")
                .dm-benefits3__item__title SPB*

            .dm-benefits3__item
                a.dm-benefits3__link(href="https://www.coral.ru/covidinfo/turkeyinfo/" target="_blank")
                    img.dm-benefits3__img(src="./img/content/coral/benefits3-1.jpg", alt="Правила въезда в Турцию")

            .dm-benefits3__item
                a.dm-benefits3__link(href="https://www.coral.ru/aegean-seashore/" target="_blank")
                    img.dm-benefits3__img(src="./img/content/coral/benefits3-5.jpg", alt="Какой курорт выбрать")

            .dm-benefits3__item
                a.dm-benefits3__link(href="https://www.coral.ru/packagetours/sanktpeterburg-to-turtsiya-tours/?q=%7b%22Bgn%22%3a%2225.07.2022%22%2c%22End%22%3a%2225.07.2022%22%2c%22Dr%22%3a%220%22%2c%22Acc%22%3a%227%2c10%2c13%22%2c%22Gest%22%3a%222%2c5%22%2c%22Q%22%3a%22pcFya3WVJVZLPzu5U%2bP1YGTy%2fM9KgYHPVs5EJEnqTXG98bSLHnTtfetn22mfUSu0Z9TDcICd2O3cJzDDZ5DgFLqXFO8qHptEDcTbPEtQr8ePD30C2pK5GCwg2y3RLygYDeCT4TBuNDgMfPMp6QxZ78Utd%2b4fd7vlU0STzODNjqU%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d&f=%7b%22Pr%22%3a%5b0.0%2c0.0%5d%2c%22Rh%22%3afalse%2c%22Ao%22%3a%5b%22available%22%5d%2c%22Lt%22%3a%5b%223%22%5d%7d&page=1&pp=&sort=" target="_blank")
                    img.dm-benefits3__img(src="./img/content/coral/benefits3-8.jpg", alt="Отдых с&nbsp;детьми&nbsp;&mdash; это просто")


            //- .dm-benefits3__item
            //-     a.dm-benefits3__link(href="#" target="_blank")
            //-         img.dm-benefits3__img(src="./img/content/coral/benefits3-2.jpg", alt="Бронируйте отпуск заранее")

            //- .dm-benefits3__item
            //-     a.dm-benefits3__link(href="#" target="_blank")
            //-         img.dm-benefits3__img(src="./img/content/coral/benefits3-6.jpg", alt="Выбор наших туристов")