.dm-benefits
    .dm-benefits__item
        .dm-benefits__img-wrap
            img.dm-benefits__img(src="./img/content/coral/icon-1.png", alt="")
        .dm-title2.dm-title2--main Быстрый#[br]перелет
    
    .dm-benefits__item
        .dm-benefits__img-wrap
            img.dm-benefits__img(src="./img/content/coral/icon-2.png", alt="")
        .dm-title2.dm-title2--main Без#[br]пересадок
    
    .dm-benefits__item
        .dm-benefits__img-wrap
            img.dm-benefits__img(src="./img/content/coral/icon-3.png", alt="")
        .dm-title2.dm-title2--main Отличные#[br]цены
    
    .dm-benefits__item
        .dm-benefits__img-wrap
            img.dm-benefits__img(src="./img/content/coral/icon-4.png", alt="")
        .dm-title2.dm-title2--main Комфортный#[br]отдых с детьми