body
    .subpage-search-bg
        .searchtabsmain
            position absolute
            left 0
            top 0
            width 100%

        >.background
            background none
            min-height em(1158+44)
            position static
            background-image url(../img/content/coral/intro2-sm.jpg)
            background-repeat no-repeat
            background-position 0 100%
            background-size contain
            font-size ( 100vw / 45 )

            @media screen and (min-width: 769px)
                background-image url(../img/content/coral/intro2-lg.jpg)
                background-position 0 bottom
                background-size cover
                min-height em(666)
                font-size ( 100vw / 120 )

            &:before
                display none