.dm-intresting
    padding em(60)

    @media screen and (min-width: 769px)
        padding em(60) 0 0

    &__header
        font-size em(48)
        line-height (52/48em)
        text-align center
        color #000
        margin-bottom (60/48em)

        @media screen and (min-width: 769px)
            font-size em(40)
            line-height (44/40em)
            margin-bottom (60/40em)

    &__items

        @media screen and (min-width: 769px)
            max-width: em(1356)
            margin 0 auto
            display flex
            flex-wrap: wrap
            justify-content: center

    &__item
        @media screen and (min-width: 769px)
            width em(428+24)
            padding 0 em(12)
            margin-bottom em(60)

    &__item + &__item
        margin-top em(60)

        @media screen and (min-width: 769px)
            margin-top 0

    &__img-wrap
        margin-bottom em(40)

    &__img
        width em(600)
        display block
        border-radius: em(20)

        @media screen and (min-width: 769px)
            width em(428)

    &__title
        font-size em(24)
        line-height (32/24em)
        text-align center
        color #000
        font-weight bold
        margin-bottom 1em

        @media screen and (min-width: 769px)
            font-size em(20)
            line-height (28/20em)
            margin-bottom 1em
    
    &__text
        font-size em(18)
        line-height (26/18em)
        text-align center
        color #000

        @media screen and (min-width: 769px)
            font-size em(14)
            line-height (22/14em)