.dm-gift
    padding 0

    &__items

        padding 0 0 em(60)

        @media screen and (min-width: 769px)
            max-width: em(1370)
            margin 0 auto

    &__item
        background-color #fff
        border-radius: em(40)
        @media screen and (min-width: 769px)
            background none
            
    &__img-wrap
        // margin-bottom em(60)

        @media screen and (min-width: 769px)
            margin 0

    &__img
        width em(720)
        height em(420)
        display block
        border-radius: em(0)
        background-repeat no-repeat
        background-position 0 0
        background-image url(../img/content/sunmar/gift-sm.jpg)
        background-size contain

        @media screen and (min-width: 769px)
            width em(1370)
            height em(460)
            background-image url(../img/content/sunmar/gift-lg.jpg)

    &__title
        font-size em(40)
        line-height (44/40em)
        text-align center
        color #000
        font-weight bold
        margin-bottom (30/40em)
        padding-left (60/40em)
        padding-right (60/40em)

        @media screen and (min-width: 769px)
            font-size em(20)
            line-height (28/20em)
            margin-bottom 1em
            display none
    
    &__text
        font-size em(20)
        line-height (40/20em)
        color #000
        padding 0 3em (46/20em)

        @media screen and (min-width: 769px)
            font-size em(14)
            line-height (22/14em)
            display none