include trip-temp

section.section--trip.section--trip-safari
    .dm-trip__item.dm-trip__item--safari
        //- 1
        +trip({
            block_img_text : {
                title: '',
                text: 'Экскурсии',
                class_wrap: 'dm-intro',
                class_img: 'dm-intro__img',
                class_desc: 'dm-intro__desc',
                class_title: 'dm-intro__title',
                class_text: 'dm-intro__text',
                class_suffix: '--trip1',
                img_lg: './img/content/sunmar/safari-trip/safari-trip-1-lg.jpg',
                img_sm: './img/content/sunmar/safari-trip/safari-trip-1-sm.jpg',
            },
            class_suffix: '--trip1',
            text: ``,
            class_text: 'dm-block__text',

            info:[
                    {
                        title: 'Фантастический Дубай',
                        text: `
                            <p>
                                Индивидуальный тур в&nbsp;сопровождении опытного лицензированного гида и&nbsp;профессионального водителя.
                            </p>
                            <p>
                                <b>Включено:</b>
                            </p>
                            <ul class="dm-ul">
                                <li>Услуги гида</li>
                                <li>45-минутный круиз по бухте Дубай Марина на традиционной деревянной лодке доу. </li>
                                <li>Арабская Венеция Мадинат Джумейра</li>
                                <li>Аквариум Lost Chambers в отеле Атлантис</li>
                                <li>Ужин в ресторане Mediterraneo отеля Армани с великолепным видом на знаменитые танцующие фонтаны</li>
                                <li>Смотровая площадка на 124 этаже<br />Бурдж-Халифа</li>
                            </ul>
                            <p>
                                <b>Возьмите с собой:</b> камеру и деньги на личные расходы и сувениры.
                            </p>
                        `,
                        class_suffix: '--trip',
                        class_wrap: 'dm-info',
                        class_left: 'dm-info__left',
                        class_right: 'dm-info__right',
                        class_title: 'dm-info__title',
                        class_text: 'dm-info__text',
                        class_right_inner: 'dm-info__inner',
                        class_right_left: 'dm-info__left2',
                        class_right_title: 'dm-info__title2',
                        class_right_note: 'dm-info__note',
                        class_right_text: 'dm-info__text2',
                        class_right_right: 'dm-info__right2',
                        class_right_item: 'dm-info__item',
                        class_right_price: 'dm-info__price',
                        items: [
                                    [
                                        {
                                            title: '<b>Продолжительность:</b> 8 часов',
                                            note: '(Не включает время трансфера<br />от отеля и обратно)',
                                            price: '816&nbsp;у.е.<br />за&nbsp;2-х чел.',
                                        },
                                        {
                                            title: '<b>Доплата</b> за дополнительного<br /> участника',
                                            note: '',
                                            text: ``,
                                            price: '163&nbsp;у.е.',
                                        },
                                        {
                                            title: '<b>Дресс-код:</b><br />классический или повседневный<br />стиль одежды.',
                                            note: 'В отеле Armani недопустимы тапочки,<br />шлепанцы и пляжные костюмы.',
                                            price: '',
                                        },
                                    ],
                                ],
                    },
                    {
                        title: 'Вечерний тур<br />по Абу-Даби',
                        text: `
                            <p>
                                Вас ждет знакомство с городом, столицей ОАЭ
                            </p>
                            <p>
                                <b>Включено:</b>
                            </p>
                            <ul class="dm-ul">
                                <li>Опытный гид, который расскажет вам все<br />о&nbsp;городе, его истории и&nbsp;культуре</li>
                                <li>Ужин в отеле 5*</li>
                            </ul>
                            <p>
                                <b>Вы посетите:</b>
                            </p>
                            <ul class="dm-ul">
                                <li>Уникальное здание, местный филиал Лувра</li>
                                <li>Рынок фиников</li>
                                <li>Президентский дворец QASR AL WATAN</li>
                                <li>Знаменитую белую мечеть шейха Зайда</li>
                            </ul>
                            <p>
                                <b>Возьмите с собой:</b> камеру и деньги на личные расходы и сувениры, а также головной убор
                            </p>
                        `,
                        class_suffix: '--trip',
                        class_wrap: 'dm-info',
                        class_left: 'dm-info__left',
                        class_right: 'dm-info__right',
                        class_title: 'dm-info__title',
                        class_text: 'dm-info__text',
                        class_right_inner: 'dm-info__inner',
                        class_right_left: 'dm-info__left2',
                        class_right_title: 'dm-info__title2',
                        class_right_note: 'dm-info__note',
                        class_right_text: 'dm-info__text2',
                        class_right_right: 'dm-info__right2',
                        class_right_item: 'dm-info__item',
                        class_right_price: 'dm-info__price',
                        items: [
                                    [
                                        {
                                            title: '<b>Продолжительность:</b> 6 часов',
                                            note: '(Не включает время трансфера<br />от отеля и обратно)',
                                            price: '575&nbsp;у.е.<br />за&nbsp;2-х чел.',
                                        },
                                        {
                                            title: '<b>Доплата</b> за дополнительного<br /> участника',
                                            note: '',
                                            text: ``,
                                            price: '84&nbsp;у.е.',
                                        },
                                        {
                                            title: '<b>Правила посещения мечети:</b><br />татуировки на&nbsp;видимых участках<br /> тела, шорты, обтягивающая<br /> одежда, открытая одежда, одежда<br /> с&nbsp;изображениями диких животных<br /> и&nbsp;людей не&nbsp;допускаются.',
                                            note: '',
                                            price: '',
                                        },
                                        {
                                            title: '',
                                            note: '* Программа тура может меняться<br /> в&nbsp;зависимости от&nbsp;погоды и&nbsp;дорожной ситуации.<br /> Это не&nbsp;фиксированная программа, вы&nbsp;можете<br /> изменить ее&nbsp;по&nbsp;своему желанию',
                                            price: '',
                                        },
                                    ],
                                ],
                    },
                    {
                        title: 'Современный Дубай',
                        text: `
                            <p>
                                <b>Вы просетите:</b>
                            </p>                            
                            <ul class="dm-ul">
                                <li>Арабскую Венецию - Сук Мадинат Джумейра</li>
                                <li>Аквариум Lost Chambers в отеле Атлантис</li>
                                <li>Круиз на традиционной лодке доу с ужином<br />на борту с великолепными видами Дубая </li>
                                <li>Знаменитые танцующие фонтаны</li>
                                <li>Смотровую площадку Бурдж Халифа</li>
                            </ul>
                            <p>
                                <b>Возьмите с собой:</b> фотоаппарат, деньги<br /> на&nbsp;личные расходы и сувениры
                            </p>
                        `,
                        class_suffix: '--trip',
                        class_wrap: 'dm-info',
                        class_left: 'dm-info__left',
                        class_right: 'dm-info__right',
                        class_title: 'dm-info__title',
                        class_text: 'dm-info__text',
                        class_right_inner: 'dm-info__inner',
                        class_right_left: 'dm-info__left2',
                        class_right_title: 'dm-info__title2',
                        class_right_note: 'dm-info__note',
                        class_right_text: 'dm-info__text2',
                        class_right_right: 'dm-info__right2',
                        class_right_item: 'dm-info__item',
                        class_right_price: 'dm-info__price',
                        items: [
                                    [
                                        {
                                            title: '<b>Продолжительность:</b> 8 часов',
                                            note: '(Не включает время трансфера<br />от отеля и обратно)',
                                            price: '638&nbsp;у.е.<br />за&nbsp;2-х чел.',
                                        },
                                        {
                                            title: '<b>Доплата</b> за дополнительного<br /> участника',
                                            note: '',
                                            text: ``,
                                            price: '95&nbsp;у.е.',
                                        },
                                        {
                                            title: '<b>Дополнительные расходы:</b><br />Входные билеты, питание<br />и напитки, покупки',
                                            note: '',
                                            price: '',
                                        },
                                        {
                                            title: '',
                                            note: '* Это не фиксированная программа, вы можете <br />изменить ее по своему желанию',
                                            price: '',
                                        },
                                    ],
                                ],
                    },
                    {
                        title: 'Тур Фуджейра и<br />восточное побережье',
                        text: `
                            <p>
                                Поездка к Индийскому океану, по пути к которому вы увидите разнообразные природные ландшафтами страны: пустыню, предгорья и горы.
                            </p>
                            <p>
                                Мы&nbsp;проедем через небольшие деревни, верблюжьи фермы, оазисы, пальмовые рощи, небольшие мечети, старинные форты и&nbsp;придорожные рынки. На&nbsp;побережье Индийского океана вы&nbsp;сможете поплавать, а&nbsp;затем пообедать в&nbsp;хорошем отеле.
                            </p>
                            <p>
                                <b>Обед включен</b>
                            </p>
                        `,
                        class_suffix: '--trip',
                        class_wrap: 'dm-info',
                        class_left: 'dm-info__left',
                        class_right: 'dm-info__right',
                        class_title: 'dm-info__title',
                        class_text: 'dm-info__text',
                        class_right_inner: 'dm-info__inner',
                        class_right_left: 'dm-info__left2',
                        class_right_title: 'dm-info__title2',
                        class_right_note: 'dm-info__note',
                        class_right_text: 'dm-info__text2',
                        class_right_right: 'dm-info__right2',
                        class_right_item: 'dm-info__item',
                        class_right_price: 'dm-info__price',
                        items: [
                                    [
                                        {
                                            title: '<b>Продолжительность:</b> 6 часов',
                                            note: '(Не включает время трансфера<br />от отеля и обратно)',
                                            price: '575&nbsp;у.е.<br />за&nbsp;2-х чел.',
                                        },
                                        {
                                            title: '<b>Доплата</b> за дополнительного<br /> участника',
                                            note: '',
                                            text: ``,
                                            price: '56&nbsp;у.е.',
                                        },
                                        {
                                            title: '<b>Доплата</b> за поездку из Абу-Даби',
                                            note: '',
                                            price: '28&nbsp;у.е.',
                                        },
                                        {
                                            title: '<b>За дополнительную плату:</b><br />ласты и маски',
                                            note: '',
                                            price: '',
                                        },            
                                    ],
                                ],
                    },
            ],
            info2:{
                title: 'Услуги русскоговорящего гида',
                text: `<b>Продолжительность:</b> 8 часов`,
                price: `235 у.е.`,
                class_suffix: '--trip',
                class_wrap: 'dm-info2',
                class_left: 'dm-info2__left',
                class_right: 'dm-info2__right',
                class_inner: 'dm-info2__inner',
                class_title: 'dm-info2__title',
                class_text: 'dm-info2__text',
                class_price: 'dm-info2__price',
            }
        })
    
    .dm-trip__item.dm-trip__item--safari2
        //- 2
        +trip({
            block_img_text : {
                title: '',
                text: 'Сафари',
                class_wrap: 'dm-intro',
                class_img: 'dm-intro__img',
                class_desc: 'dm-intro__desc',
                class_title: 'dm-intro__title',
                class_text: 'dm-intro__text',
                img_lg: './img/content/sunmar/safari-trip/safari-trip-2-lg.jpg',
                img_sm: './img/content/sunmar/safari-trip/safari-trip-2-sm.jpg',
                class_suffix: '--trip1',
            },
            class_suffix: '--trip1',
            text: ``,
            class_text: 'dm-block__text',

            info:[
                    {
                        title: 'Пустынное сафари<br />в эмирате Абу-Даби',
                        text: `
                            <p>
                                Индивидуальное сафари по&nbsp;пустыне в&nbsp;Абу-Даби, включающее поездку на&nbsp;джипе по&nbsp;дюнам, несколько фото-остановок перед закатом и&nbsp;с&nbsp;верблюдами, ужин-барбекю, шоу-программу (танец живота, традиционный танец танура, роспись хной).
                            </p>
                            <p>
                                <b>Возьмите с собой:</b> фотоаппарат, деньги на<br />личные расходы и сувениры, теплую одежду.
                            </p>
                        `,
                        class_suffix: '--trip',
                        class_wrap: 'dm-info',
                        class_left: 'dm-info__left',
                        class_right: 'dm-info__right',
                        class_title: 'dm-info__title',
                        class_text: 'dm-info__text',
                        class_right_inner: 'dm-info__inner',
                        class_right_left: 'dm-info__left2',
                        class_right_title: 'dm-info__title2',
                        class_right_note: 'dm-info__note',
                        class_right_text: 'dm-info__text2',
                        class_right_right: 'dm-info__right2',
                        class_right_item: 'dm-info__item',
                        class_right_price: 'dm-info__price',
                        items: [
                                    [
                                        {
                                            title: '<b>Продолжительность:</b> 6 часов',
                                            note: '(Не включает время трансфера<br />от отеля и обратно)',
                                            price: '385&nbsp;у.е.<br />за&nbsp;1&nbsp;чел.',
                                        },
                                        {
                                            title: '<b>Максимум:</b> 6 человек',
                                            note: '',
                                            text: ``,
                                            price: '',
                                        },
                                        {
                                            title: '<b>Ужин включен</b>',
                                            note: '',
                                            price: '',
                                        },
                                        {
                                            title: '<b>За дополнительную плату:</b><br />алкоголь и кальян',
                                            note: '',
                                            price: '',
                                        },
                                    ],
                                ],
                    },
                    {
                        title: 'Пустынное сафари<br />в эмирате ДУБАИ',
                        text: `
                            <p>
                                Индивидуальное джип-сафари по&nbsp;дюнам в&nbsp;пустыне&nbsp;&ndash; захватывающее занятие.
                            </p>
                            <p>
                                Поездка на&nbsp;джипе по&nbsp;пустыне длится около 40&nbsp;минут с&nbsp;фотостопами во&nbsp;время заката.<br /> После чего вы&nbsp;сможете сфотографироваться с&nbsp;верблюдами и&nbsp;посмотреть шоу-программу в&nbsp;традиционном бедуинском лагере, включающую танец живота, танцы огня и&nbsp;танура, музыкальную программу.
                            </p>
                            <p>
                                Вас ждет ужин &laquo;шведский стол&raquo; с&nbsp;безлимитными безалкогольными напитками, традиционные наряды для мужчин и&nbsp;женщин для фотосъемки.
                            </p>
                            <p>
                                <b>Возьмите с собой:</b> фотоаппарат, деньги на личные расходы и сувениры, теплую одежду.
                            </p>
                        `,
                        class_suffix: '--trip',
                        class_wrap: 'dm-info',
                        class_left: 'dm-info__left',
                        class_right: 'dm-info__right',
                        class_title: 'dm-info__title',
                        class_text: 'dm-info__text',
                        class_right_inner: 'dm-info__inner',
                        class_right_left: 'dm-info__left2',
                        class_right_title: 'dm-info__title2',
                        class_right_note: 'dm-info__note',
                        class_right_text: 'dm-info__text2',
                        class_right_right: 'dm-info__right2',
                        class_right_item: 'dm-info__item',
                        class_right_price: 'dm-info__price',
                        items: [
                                    [
                                        {
                                            title: '<b>Продолжительность:</b> 6 часов',
                                            note: '(Не включает время трансфера<br />от отеля и обратно)',
                                            price: '288&nbsp;у.е.<br />за&nbsp;1&nbsp;чел.',
                                        },
                                        {
                                            title: '<b>Максимум:</b> 6 человек',
                                            note: '',
                                            text: ``,
                                            price: '',
                                        },
                                        {
                                            title: '<b>Ужин включен</b>',
                                            note: '',
                                            price: '',
                                        },
                                        {
                                            title: '<b>За дополнительную плату:</b><br />алкоголь и кальян',
                                            note: '',
                                            price: '',
                                        },
                                    ],
                                ],
                    },
                    {
                        title: 'Пустынное сафари<br />в эмиратах<br/> Рас-эль-Хаймаи<br/> и Фуджейра',
                        text: `
                            <p>
                                Индивидуальное джип-сафари по&nbsp;дюнам в&nbsp;пустыне&nbsp;&ndash; захватывающее занятие.
                            </p>
                            <p>
                                Поездка на&nbsp;джипе по&nbsp;пустыне длится около 40&nbsp;минут с&nbsp;фотостопами во&nbsp;время заката.<br /> После чего вы&nbsp;сможете сфотографироваться с&nbsp;верблюдами и&nbsp;посмотреть шоу-программу в&nbsp;традиционном бедуинском лагере, включающую танец живота, танцы огня и&nbsp;танура, музыкальную программу.
                            </p>
                            <p>
                                Вас ждет ужин &laquo;шведский стол&raquo; с&nbsp;безлимитными безалкогольными напитками, традиционные наряды для мужчин и&nbsp;женщин для фотосъемки.
                            </p>
                            <p>
                                <b>Возьмите с собой:</b> фотоаппарат, деньги на личные расходы и сувениры, теплую одежду.
                            </p>
                        `,
                        class_suffix: '--trip',
                        class_wrap: 'dm-info',
                        class_left: 'dm-info__left',
                        class_right: 'dm-info__right',
                        class_title: 'dm-info__title',
                        class_text: 'dm-info__text',
                        class_right_inner: 'dm-info__inner',
                        class_right_left: 'dm-info__left2',
                        class_right_title: 'dm-info__title2',
                        class_right_note: 'dm-info__note',
                        class_right_text: 'dm-info__text2',
                        class_right_right: 'dm-info__right2',
                        class_right_item: 'dm-info__item',
                        class_right_price: 'dm-info__price',
                        items: [
                                    [
                                        {
                                            title: '<b>Продолжительность:</b> 6 часов',
                                            note: '(Не включает время трансфера<br />от отеля и обратно)',
                                            price: '288&nbsp;у.е.<br />за&nbsp;1&nbsp;чел.',
                                        },
                                        {
                                            title: '<b>Максимум:</b> 6 человек',
                                            note: '',
                                            text: ``,
                                            price: '',
                                        },
                                        {
                                            title: '<b>Ужин включен</b>',
                                            note: '',
                                            price: '',
                                        },
                                        {
                                            title: '<b>За дополнительную плату:</b><br />алкоголь и кальян',
                                            note: '',
                                            price: '',
                                        },
                                    ],
                                ],
                    },
                    {
                        title: 'Королевское сафари',
                        text: `
                            <p>
                                Отправьтесь в&nbsp;индивидуальное путешествие по&nbsp;диким пустынным дюнам на&nbsp;джипах 4Х4, посетите крепость в&nbsp;пустыне.
                            </p>
                            <p>
                                У&nbsp;вас будет возможность попробовать свои силы в&nbsp;катании на&nbsp;верблюдах и&nbsp;лошадях, прокатиться по&nbsp;дюнам на&nbsp;багги (за&nbsp;дополнительную плату), сфотографироваться с&nbsp;соколом и&nbsp;многое другое.
                            </p>
                            <p>
                                В&nbsp;качестве идеального завершения дня вам будет предложен роскошный 5-звездочный банкетный ужин.
                            </p>
                            <p>
                                Помимо ужина, у&nbsp;вас будет возможность посмотреть живое шоу танца живота, захватывающее огненное шоу и&nbsp;другие традиционные для Дубая и&nbsp;его окрестностей развлечения.
                            </p>                            
                            <p>
                                <b>Возьмите с собой:</b> Фото/видео камеру, деньги на личные расходы.
                            </p>
                        `,
                        class_suffix: '--trip',
                        class_wrap: 'dm-info',
                        class_left: 'dm-info__left',
                        class_right: 'dm-info__right',
                        class_title: 'dm-info__title',
                        class_text: 'dm-info__text',
                        class_right_inner: 'dm-info__inner',
                        class_right_left: 'dm-info__left2',
                        class_right_title: 'dm-info__title2',
                        class_right_note: 'dm-info__note',
                        class_right_text: 'dm-info__text2',
                        class_right_right: 'dm-info__right2',
                        class_right_item: 'dm-info__item',
                        class_right_price: 'dm-info__price',
                        items: [
                                    [
                                        {
                                            title: '<b>Продолжительность:</b> 6 часов',
                                            note: '(Не включает время трансфера<br />от отеля и обратно)',
                                            price: '994&nbsp;у.е.<br />за&nbsp;услугу',
                                        },
                                        {
                                            title: '<b>Максимум:</b> 6 человек',
                                            note: '',
                                            text: ``,
                                            price: '',
                                        },
                                        {
                                            title: `
                                                <b>Включено:</b>
                                                <ul class="dm-ul">
                                                    <li>Трансфер на джипах</li>
                                                    <li>Роспись хной</li>
                                                    <li>Шоу-программа с ужином<br />(безалкогольные напитки в<br />неограниченном количестве).</li>
                                                </ul>
                                            `,
                                            note: '',
                                            price: '',
                                        },
                                        {
                                            title: '<b>За дополнительную плату:</b><br />алкоголь и кальян',
                                            note: '',
                                            price: '',
                                        },
                                    ],
                                ],
                    },
                    {
                        title: 'Пустынное сафари<br />на Mercedes G Class',
                        text: `
                            <p>
                                Индивидуальный тур в&nbsp;пустыню на&nbsp;внедорожнике Mercedes Benz.
                            </p>
                            <p>
                                Включает арабский ужин-барбекю с&nbsp;неограниченным безалкогольными напитками, шоу-программу с&nbsp;танцами живота, Танура.
                            </p>
                            <p>
                                Тур возможен только в Дубаи.
                            </p>
                        `,
                        class_suffix: '--trip',
                        class_wrap: 'dm-info',
                        class_left: 'dm-info__left',
                        class_right: 'dm-info__right',
                        class_title: 'dm-info__title',
                        class_text: 'dm-info__text',
                        class_right_inner: 'dm-info__inner',
                        class_right_left: 'dm-info__left2',
                        class_right_title: 'dm-info__title2',
                        class_right_note: 'dm-info__note',
                        class_right_text: 'dm-info__text2',
                        class_right_right: 'dm-info__right2',
                        class_right_item: 'dm-info__item',
                        class_right_price: 'dm-info__price',
                        items: [
                                    [
                                        {
                                            title: '<b>Продолжительность:</b> 6 часов',
                                            note: '(Не включает время трансфера<br />от отеля и обратно)',
                                            price: '820&nbsp;у.е.<br />за&nbsp;услугу',
                                        },
                                        {
                                            title: '<b>Максимум:</b> 4 человек',
                                            note: '',
                                            text: ``,
                                            price: '',
                                        },
                                        {
                                            title: `
                                                <b>Ужин включен</b>
                                            `,
                                            note: '',
                                            price: '',
                                        },
                                        {
                                            title: '<b>За дополнительную плату:</b><br />алкоголь',
                                            note: '',
                                            price: '',
                                        },
                                    ],
                                ],
                    },
            ],
            info2:{
                title: 'Услуги русскоговорящего гида',
                text: `<b>Продолжительность:</b> 8 часов`,
                price: `235 у.е.`,
                class_suffix: '--trip',
                class_wrap: 'dm-info2',
                class_left: 'dm-info2__left',
                class_right: 'dm-info2__right',
                class_inner: 'dm-info2__inner',
                class_title: 'dm-info2__title',
                class_text: 'dm-info2__text',
                class_price: 'dm-info2__price',
            }
        })
        