.dm-ex
    .dm-ex__img
    .dm-ex__desc
        h2.dm-ex__header Обзорная экскурсия#[br]по Пхукету/Паттайе#[br]в подарок
        .dm-ex__text
            p Акция действует весь зимний сезон для вылетов из&nbsp;Москвы и&nbsp;регионов! Для получения экскурсии, туристам необходимо обратиться к&nbsp;гиду в&nbsp;отеле.