.dm-ex
    margin 0 em(60) em(80)
    background-color #fff
    border-radius: em(20)

    @media screen and (min-width: 769px)
        max-width: em(1336)
        margin 0 auto em(80)
        display flex

    &__img
        height: em(354)
        background url('../img/content/coral/ex-sm.jpg') 50% 50% no-repeat
        background-size cover
        border-radius: em(20) em(20) 0 0

        @media screen and (min-width: 769px)
            background url('../img/content/coral/ex-lg.jpg') 50% 50% no-repeat
            background-size cover
            border-radius: em(20)
            height auto
            min-width: em(840)
            max-width: em(840)

    &__desc
        padding em(50) em(40) em(24)

        @media screen and (min-width: 769px)
            padding em(20) em(50) em(20) em(60)
            display flex
            flex-direction: column
            min-height: em(370)
            justify-content: center

    &__header
        position relative
        font-size: em(36)
        line-height: (40/36em)
        color #000
        padding 0 0 0 (98/36em)
        margin-bottom (40/36em)

        @media screen and (min-width: 769px)
            font-size: em(28)
            line-height: (34/28em)
            padding: (80/28em) 0 0 0
            margin-bottom (20/28em)

        &:before
            content ''
            position absolute
            left 0
            top 0
            bottom 0
            font-size (16/36em)
            background embedurl('../img/content/coral/ex-icon.svg') 0 50% no-repeat
            background-size em(58) auto
            width em(58)

            @media screen and (min-width: 769px)
                font-size (16/28em)
                left 0
                top 0
                bottom auto
                right 0
                height em(60)
                width auto
                background-size auto em(60)

    &__text
        p
            font-size: em(24)
            line-height: 133%
            color: #000000;

            @media screen and (min-width: 769px)
                font-size em(14)
                line-height (22/14em)

            &:last-child
                margin-bottom 0