.dm-tours
    .dm-tours__item
        a.dm-tours__link(href="./coral-spb.html" target="_blank") 
            img.dm-tours__img(src="./img/content/coral/img-1.jpg", alt="")
            .dm-tours__desc
                span.dm-tours__btn Выбрать тур
                span.dm-title.dm-title--tours из Санкт-Петербурга
    
    .dm-tours__item
        a.dm-tours__link(href="./coral-ekaterinburg.html" target="_blank") 
            img.dm-tours__img(src="./img/content/coral/img-2.jpg", alt="")
            .dm-tours__desc
                span.dm-tours__btn Выбрать тур
                span.dm-title.dm-title--tours из Екатеринбурга

    .dm-tours__item
        a.dm-tours__link(href="./coral-ufa.html" target="_blank") 
            img.dm-tours__img(src="./img/content/coral/img-3.jpg", alt="")
            .dm-tours__desc
                span.dm-tours__btn Выбрать тур
                span.dm-title.dm-title--tours из Уфы

    .dm-tours__item
        a.dm-tours__link(href="./coral-kazan.html" target="_blank") 
            img.dm-tours__img(src="./img/content/coral/img-4.jpg", alt="")
            .dm-tours__desc
                span.dm-tours__btn Выбрать тур
                span.dm-title.dm-title--tours из Казани