p  
h2 Коллекция отелей#[br]для отдыха в Турции осенью
p  
.row.mt-3.mb-3
    .col-lg-4.col-md-4.col-sm-12.d-flex
        .card
            img.card-img-top.img-fluid(src='https://content.sunmar.ru//resize/800x600//media/image/1/17847/636661247279350699.jpg')
            .card-body
                h3(style='text-align: center;') TUANA CLUB FETHIYE 5*, Фетхие
                ul
                    li
                        a(href='https://www.sunmar.ru/hotels/turkey/tuana-club-fethiye-fethiye/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22hNYZq7zwEZHc7rYxb3MdaTm4GJccWRkEPliGvXpgpNjMtndTkov7RebXDLEXvf%2bNjIQv9ykObeOclGkqGOp%2f2wMEKe3wiJFo55vZuXs6GHFPrLJqjFVV7DMaScmLY5krle%2fDICI%2fNdcuRz%2fIoGyzqkBmE%2b3g9q6GpsgxvwJU72o%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                            strong от 67 932 руб. 7 ночей
                        |  на человека
                .col-lg-12.col-md-12.col-sm-12
                    a(href='https://www.sunmar.ru/hotels/turkey/tuana-club-fethiye-fethiye/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22hNYZq7zwEZHc7rYxb3MdaTm4GJccWRkEPliGvXpgpNjMtndTkov7RebXDLEXvf%2bNjIQv9ykObeOclGkqGOp%2f2wMEKe3wiJFo55vZuXs6GHFPrLJqjFVV7DMaScmLY5krle%2fDICI%2fNdcuRz%2fIoGyzqkBmE%2b3g9q6GpsgxvwJU72o%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                        button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
    .col-lg-4.col-md-4.col-sm-12.d-flex
        .card
            img.card-img-top.img-fluid(src='https://content.sunmar.ru//resize/800x600//media/image/1/30533/637587777010833498.jpg' width='1600' height='900')
            .card-body
                h3(style='text-align: center;') NIRVANA COSMOPOLITAN 5*, Анталия
                ul
                    li
                        a(href='https://www.sunmar.ru/hotels/turkey/nirvana-cosmopolitan-antalya/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22tqI8bxb96nUR%2filfEZDBclhThJt6OIFs7iIMVfZKEuWNCs%2b%2fQYguwNGw34YVn0ysBfvH0bohSAy8Y8KhNs2Vq%2fxSxTrLYKAZnCS%2bvv2rWMQS67XhB5u8UWh4bGazGsmPuquk57NkrCAj3ADcdb28VMeEKKeTYeM%2bq7F420DvA1k%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                            strong от 72 773 руб. 7 ночей
                        |  на человека
                .col-lg-12.col-md-12.col-sm-12
                    a(href='https://www.sunmar.ru/hotels/turkey/nirvana-cosmopolitan-antalya/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22tqI8bxb96nUR%2filfEZDBclhThJt6OIFs7iIMVfZKEuWNCs%2b%2fQYguwNGw34YVn0ysBfvH0bohSAy8Y8KhNs2Vq%2fxSxTrLYKAZnCS%2bvv2rWMQS67XhB5u8UWh4bGazGsmPuquk57NkrCAj3ADcdb28VMeEKKeTYeM%2bq7F420DvA1k%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                        button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
    .col-lg-4.col-md-4.col-sm-12.d-flex
        .card
            img.card-img-top.img-fluid(src='https://content.sunmar.ru//resize/800x600//media/image/1/10105/637504723132259106.jpg' width='1600' height='900')
            .card-body
                h3(style='text-align: center;') LIBERTY HOTELS LYKIA 5*, Фетхие
                ul
                    li
                        a(href='https://www.sunmar.ru/hotels/turkey/liberty-hotels-lykia-fethiye/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22cJKICjFN%2fDfhNi1yljAp0EEv5tjRVofCou0WDbAKfuz%2b5wAuknFCL31uxGWOQKTLIawCFGxLx8Q2kMPvuuXH3feyewzNmBPkXhg2vS5p0sgWzspSDDVHx0rG2Rx22b42JNvhUQ23Yu6goXBt9WPPILlzI4DuntqoBVJfskqkpXI%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                            strong от 84 868 руб. 7 ночей
                        |  на человека
                .col-lg-12.col-md-12.col-sm-12
                    a(href='https://www.sunmar.ru/hotels/turkey/liberty-hotels-lykia-fethiye/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22cJKICjFN%2fDfhNi1yljAp0EEv5tjRVofCou0WDbAKfuz%2b5wAuknFCL31uxGWOQKTLIawCFGxLx8Q2kMPvuuXH3feyewzNmBPkXhg2vS5p0sgWzspSDDVHx0rG2Rx22b42JNvhUQ23Yu6goXBt9WPPILlzI4DuntqoBVJfskqkpXI%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                        button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
p  
h2 Алания
.row.mt-3.mb-3
    .col-lg-4.col-md-4.col-sm-12.d-flex
        .card
            img.card-img-top.img-fluid(src='https://cdn.sunmar.ru/content/hotels/turkey/thegardenbeachhotel.jpg')
            .card-body
                h3(style='text-align: center;') THE GARDEN BEACH HOTEL 5*
                ul
                    li
                        a(href='https://www.sunmar.ru/hotels/turkey/the-garden-beach-hotel-alanya/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22yN%2fFhpCDHNY2ZYsLa%2fQeFTSW3567fIJxvXkd842ED8TjK6oFGfHGj8PM6V%2bXE8io5MYcTIhWh0iaYUkb19mIoYCwRQEIEF0hsLDqGXagOetGkCMAvYl%2fd9SkF47vj89RRxvHU%2bFSOylc2AO5DkgaJKDmtYmdyZ3FQpWaFDOkyuc%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                            strong от 44 286 руб. 7 ночей
                        |  на человека
                .col-lg-12.col-md-12.col-sm-12
                    a(href='https://www.sunmar.ru/hotels/turkey/the-garden-beach-hotel-alanya/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22yN%2fFhpCDHNY2ZYsLa%2fQeFTSW3567fIJxvXkd842ED8TjK6oFGfHGj8PM6V%2bXE8io5MYcTIhWh0iaYUkb19mIoYCwRQEIEF0hsLDqGXagOetGkCMAvYl%2fd9SkF47vj89RRxvHU%2bFSOylc2AO5DkgaJKDmtYmdyZ3FQpWaFDOkyuc%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                        button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
    .col-lg-4.col-md-4.col-sm-12.d-flex
        .card
            img.card-img-top.img-fluid(src='https://content.sunmar.ru//resize/800x600//media/image/1/22140/637165017286136427.jpg')
            .card-body
                h3(style='text-align: center;') PALMERAS BEACH HOTEL 5*
                ul
                    li
                        a(href='https://www.sunmar.ru/hotels/turkey/palmeras-beach-hotel-alanya/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%2206BUnAuMg6XOWlEIQ9b4ziGsuJ4R89gqAfpp5h9UOAsYzEArqbDk5En2cG4X8pMd0%2by%2bc4Uy6nTQa0KW3i5vRopeZDNVsEcKJ4p%2baFL0zYhNKxH8fm6uYHFfNZwL3TggJjcTTaIWbIrv2DoNjyhzWjTHlJhb12t5JzgzT5UGdgo%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                            strong от 47 191 руб. 7 ночей
                        |  на человека
                .col-lg-12.col-md-12.col-sm-12
                    a(href='https://www.sunmar.ru/hotels/turkey/palmeras-beach-hotel-alanya/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%2206BUnAuMg6XOWlEIQ9b4ziGsuJ4R89gqAfpp5h9UOAsYzEArqbDk5En2cG4X8pMd0%2by%2bc4Uy6nTQa0KW3i5vRopeZDNVsEcKJ4p%2baFL0zYhNKxH8fm6uYHFfNZwL3TggJjcTTaIWbIrv2DoNjyhzWjTHlJhb12t5JzgzT5UGdgo%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                        button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
    .col-lg-4.col-md-4.col-sm-12.d-flex
        .card
            img.card-img-top.img-fluid(src='https://content.sunmar.ru//resize/800x600//media/image/1/26682/636909420384150612.jpg')
            .card-body
                h3(style='text-align: center;') MERIDIA BEACH HOTEL 5*
                ul
                    li
                        a(href='https://www.sunmar.ru/hotels/turkey/meridia-beach-hotel-alanya/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22HvBekGPuSE00s%2ftN6fSM2xsPgE2Il6H1R6R0fXfcOEayGFbgZlDvILcMo%2fMYrBBabIeSc4aSvPT0awxwIB2%2bQrq4Tsih1UFKV9XWADFP560sCHP2sQrd7IT8XT7lww9BW5ejjhnRn10FYe5ucZewOGnF12E2mYd2%2fLjQ6XgKL84%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                            strong от 47 379 руб. 7 ночей
                        |  на человека
                .col-lg-12.col-md-12.col-sm-12
                    a(href='https://www.sunmar.ru/hotels/turkey/meridia-beach-hotel-alanya/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22HvBekGPuSE00s%2ftN6fSM2xsPgE2Il6H1R6R0fXfcOEayGFbgZlDvILcMo%2fMYrBBabIeSc4aSvPT0awxwIB2%2bQrq4Tsih1UFKV9XWADFP560sCHP2sQrd7IT8XT7lww9BW5ejjhnRn10FYe5ucZewOGnF12E2mYd2%2fLjQ6XgKL84%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                        button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
.row.mt-3.mb-3
    .col-lg-4.col-md-4.col-sm-12.d-flex
        .card
            img.card-img-top.img-fluid(src='https://content.sunmar.ru//resize/800x600//media/image/1/10017/636622325748843744.jpg' width='1600' height='900')
            .card-body
                h3(style='text-align: center;') MY HOME RESORT HOTEL 5*
                ul
                    li
                        a(href='https://www.sunmar.ru/hotels/turkey/my-home-resort-hotel-alanya/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22RuBIzsbqC1WHrIDWZYUU92qenFy6eStukrRt4%2fBu6raFWFCIxG3CwlZUQgRO4ZoloTMPgIegTPuwRtCcMQQEp1s926%2fWYvSG0bJxxTjVaXdrA6LPAlkOh%2boaWclDy1wAbJQP7QoG00P%2bFQqw37tkezXZGj%2fSybnDSu5WyfFBR6U%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                            strong от 48 955 руб. 7 ночей
                        |  на человека
                .col-lg-12.col-md-12.col-sm-12
                    a(href='https://www.sunmar.ru/hotels/turkey/my-home-resort-hotel-alanya/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22RuBIzsbqC1WHrIDWZYUU92qenFy6eStukrRt4%2fBu6raFWFCIxG3CwlZUQgRO4ZoloTMPgIegTPuwRtCcMQQEp1s926%2fWYvSG0bJxxTjVaXdrA6LPAlkOh%2boaWclDy1wAbJQP7QoG00P%2bFQqw37tkezXZGj%2fSybnDSu5WyfFBR6U%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                        button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
    .col-lg-4.col-md-4.col-sm-12.d-flex
        .card
            img.card-img-top.img-fluid(src='https://content.sunmar.ru//resize/800x600//media/image/1/46532/637708487137346108.jpg')
            .card-body
                h3(style='text-align: center;') LONICERA WORLD RESORT SPA HOTEL 5*
                ul
                    li
                        a(href='https://www.sunmar.ru/hotels/turkey/lonicera-world-resort-hotel-alanya/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22MQnRPjed8tORsZ76YI6g1hRiui8pTxeIoQZotXq7HcN7ItGqWaclyPvSD6K51HZxwhDHCVrPrNHK5YMoGxnfpN0aNsI8pfNgFjt73Tu5HxwbF7uO9KWX%2fGTIzobEQu88WOruydeambYP%2f6GPlA4Y59rqXRts6AaWVg%2fEqIX8B%2bRdsB%2ftuHkCUY0slqqpfX1d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                            strong от 52 984 руб. 7 ночей
                        |  на человека
                .col-lg-12.col-md-12.col-sm-12
                    a(href='https://www.sunmar.ru/hotels/turkey/lonicera-world-resort-hotel-alanya/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22MQnRPjed8tORsZ76YI6g1hRiui8pTxeIoQZotXq7HcN7ItGqWaclyPvSD6K51HZxwhDHCVrPrNHK5YMoGxnfpN0aNsI8pfNgFjt73Tu5HxwbF7uO9KWX%2fGTIzobEQu88WOruydeambYP%2f6GPlA4Y59rqXRts6AaWVg%2fEqIX8B%2bRdsB%2ftuHkCUY0slqqpfX1d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                        button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
    .col-lg-4.col-md-4.col-sm-12.d-flex
        .card
            img.card-img-top.img-fluid(src='https://cdn.sunmar.ru/content/hotels/turkey/justinianoclubparkconti.jpg' width='800' height='600')
            .card-body
                h3(style='text-align: center;') JUSTINIANO CLUB PARK CONTI 5*
                ul
                    li
                        a(href='https://www.sunmar.ru/hotels/turkey/justiniano-club-park-conti-alanya/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22lE27hVA7%2bbz0tokUTM%2fyi4hTkCmHcyHOyAwR6b0v2XJ%2bqXfYVhRS5VzxNYJSZ76%2fAwQCXv%2bWl%2bKDcmrDRTohuPPlaL9JU89CR5J0luwASLPMX2a4Smh9FLCRPISzf7yiJbM7rOgPIomVaovSbw2i7Jar1n4pJgUCAtTWBmtl8pc%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                            strong от 53 586 руб. 7 ночей
                        |  на человека
                .col-lg-12.col-md-12.col-sm-12
                    a(href='https://www.sunmar.ru/hotels/turkey/justiniano-club-park-conti-alanya/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22lE27hVA7%2bbz0tokUTM%2fyi4hTkCmHcyHOyAwR6b0v2XJ%2bqXfYVhRS5VzxNYJSZ76%2fAwQCXv%2bWl%2bKDcmrDRTohuPPlaL9JU89CR5J0luwASLPMX2a4Smh9FLCRPISzf7yiJbM7rOgPIomVaovSbw2i7Jar1n4pJgUCAtTWBmtl8pc%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                        button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
.row.mt-3.mb-3
    .col-lg-4.col-md-4.col-sm-12.d-flex
        .card
            img.card-img-top.img-fluid(src='https://content.sunmar.ru//resize/800x600//media/image/1/751/637121103274046841.jpg' width='1600' height='900')
            .card-body
                h3(style='text-align: center;') MUKARNAS SPA RESORT 5*
                ul
                    li
                        a(href='https://www.sunmar.ru/hotels/turkey/mukarnas-spa-resort-alanya/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22fps35yj368b5PNYj8oIC%2bim%2ftECc0UNWmCo4CRlB6RnHWCSc98CfXHWd%2fYU1SeZ3PE8LaGjMHmVXIiRiDQ6hOmMdEwLDrgQMqh5ylqr%2fyE9Wr19WwG6wIitfDWKVfKw3lMsgY1saRA6NWiXUy5OqiABnNgPD484v%2fyrsWrDL0E0%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                            strong от 54 409 руб. 7 ночей
                        |  на человека
                .col-lg-12.col-md-12.col-sm-12
                    a(href='https://www.sunmar.ru/hotels/turkey/mukarnas-spa-resort-alanya/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22fps35yj368b5PNYj8oIC%2bim%2ftECc0UNWmCo4CRlB6RnHWCSc98CfXHWd%2fYU1SeZ3PE8LaGjMHmVXIiRiDQ6hOmMdEwLDrgQMqh5ylqr%2fyE9Wr19WwG6wIitfDWKVfKw3lMsgY1saRA6NWiXUy5OqiABnNgPD484v%2fyrsWrDL0E0%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                        button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
    .col-lg-4.col-md-4.col-sm-12.d-flex
        .card
            img.card-img-top.img-fluid(src='https://content.sunmar.ru//resize/800x600//media/image/1/20518/637429397083299418.JPG')
            .card-body
                h3(style='text-align: center;') NUMA BAY EXCLUSIVE HOTEL 5*
                ul
                    li
                        a(href='https://www.sunmar.ru/hotels/turkey/numa-bay-exclusive-hotel-alanya/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22iIOsPYFULw4z1vn45DLjFMaH%2bRcHyZUWQbFNASmZPehFNbea89f7Q%2fcwhqRpniUrBQIURMBLxJkT4tZKVzfgIycilZ45bhyT8vxSou4sVoGCEqmdGpSl%2bzQo7VPzwvaTp7yjnk9Z5T4ItpVkl%2f7h%2burQPLtMwjEbmv%2bIlQsYYbw%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                            strong от 54 474 руб. 7 ночей
                        |  на человека
                .col-lg-12.col-md-12.col-sm-12
                    a(href='https://www.sunmar.ru/hotels/turkey/numa-bay-exclusive-hotel-alanya/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22iIOsPYFULw4z1vn45DLjFMaH%2bRcHyZUWQbFNASmZPehFNbea89f7Q%2fcwhqRpniUrBQIURMBLxJkT4tZKVzfgIycilZ45bhyT8vxSou4sVoGCEqmdGpSl%2bzQo7VPzwvaTp7yjnk9Z5T4ItpVkl%2f7h%2burQPLtMwjEbmv%2bIlQsYYbw%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                        button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
    .col-lg-4.col-md-4.col-sm-12.d-flex
        .card
            img.card-img-top.img-fluid(src='https://content.sunmar.ru//resize/800x600//media/image/1/8232/636471322245360110.jpg' width='800' height='600')
            .card-body
                h3(style='text-align: center;') JUSTINIANO DE LUXE RESORT 5*
                ul
                    li
                        a(href='https://www.sunmar.ru/hotels/turkey/justiniano-de-luxe-resort-alanya/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22UhL%2bT6PFl3GOOjLw7QGW%2bPCj%2f05QB9BN%2fVmrRCqLaOCHeMedNN%2bRA9rINerKMd51o8GHVYZ6gBMUi7ToonL8w7j4wkcRRJOFs4x4BZvdSqezgBFPLZ36ljO99vQDpsSYMKgKZczCuQax5Mzvpw8XwyI1lUg5GkyqSrhek5XEFbI%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                            strong от 54 573 руб. 7 ночей
                        |  на человека
                .col-lg-12.col-md-12.col-sm-12
                    a(href='https://www.sunmar.ru/hotels/turkey/justiniano-de-luxe-resort-alanya/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22UhL%2bT6PFl3GOOjLw7QGW%2bPCj%2f05QB9BN%2fVmrRCqLaOCHeMedNN%2bRA9rINerKMd51o8GHVYZ6gBMUi7ToonL8w7j4wkcRRJOFs4x4BZvdSqezgBFPLZ36ljO99vQDpsSYMKgKZczCuQax5Mzvpw8XwyI1lUg5GkyqSrhek5XEFbI%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                        button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
.row.mt-3.mb-3
    .col-lg-4.col-md-4.col-sm-12.d-flex
        .card
            img.card-img-top.img-fluid(src='https://content.sunmar.ru//resize/800x600//media/image/1/628/636458243427186524.jpg' width='1600' height='900')
            .card-body
                h3(style='text-align: center;') UTOPIA WORLD DE LUXE HOTEL 5*
                ul
                    li
                        a(href='https://www.sunmar.ru/hotels/turkey/utopia-world-de-luxe-hotel-alanya/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22yBogxaZ1ZCTTqSsSq7k1ENWU5IEoPqHiWQQogSM7HkLZm3Rw8jqdG6PV%2ftRpczhtjRBLbnKuJv8ev5DDI6CZWY0Aogv1zRbW0Fnq%2b9%2b4FU1QrqDytoKI5rqyn%2fAmnScsz4pNoA6MbP8P%2bu8kSloyiRF7kTtYSWaPYfIL5wPUMaU%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                            strong от 61 218 руб. 7 ночей
                        |  на человека
                .col-lg-12.col-md-12.col-sm-12
                    a(href='https://www.sunmar.ru/hotels/turkey/utopia-world-de-luxe-hotel-alanya/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22yBogxaZ1ZCTTqSsSq7k1ENWU5IEoPqHiWQQogSM7HkLZm3Rw8jqdG6PV%2ftRpczhtjRBLbnKuJv8ev5DDI6CZWY0Aogv1zRbW0Fnq%2b9%2b4FU1QrqDytoKI5rqyn%2fAmnScsz4pNoA6MbP8P%2bu8kSloyiRF7kTtYSWaPYfIL5wPUMaU%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                        button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
    .col-lg-4.col-md-4.col-sm-12.d-flex
        .card
            img.card-img-top.img-fluid(src='https://content.sunmar.ru//resize/800x600//media/image/1/793/637535708575765743.jpg')
            .card-body
                h3(style='text-align: center;') LONG BEACH RESORT & SPA DELUXE 5*
                ul
                    li
                        a(href='https://www.sunmar.ru/hotels/turkey/long-beach-resort-spa-deluxe-alanya/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22WXGnOJcxWDdKoSXY92rE16vtEM%2fUnz8TPAkH8Jqkt3IEIYJzGhZa2MyxrB6gaBJhyhjEE7T%2blh2PSFtpXaaBxATeNP1W3F0rm6jbmDrmhLfmwZ3ZZ%2fTeM3U3sstW195xUZqp%2fRFesB8E0S2m8QTVO1XYRXA6CfC8%2bnDgKjWWX%2fg3aTCnRgWDdiKUqf9VBdUd%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                            strong от 61 561 руб. 7 ночей
                        |  на человека
                .col-lg-12.col-md-12.col-sm-12
                    a(href='https://www.sunmar.ru/hotels/turkey/long-beach-resort-spa-deluxe-alanya/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22WXGnOJcxWDdKoSXY92rE16vtEM%2fUnz8TPAkH8Jqkt3IEIYJzGhZa2MyxrB6gaBJhyhjEE7T%2blh2PSFtpXaaBxATeNP1W3F0rm6jbmDrmhLfmwZ3ZZ%2fTeM3U3sstW195xUZqp%2fRFesB8E0S2m8QTVO1XYRXA6CfC8%2bnDgKjWWX%2fg3aTCnRgWDdiKUqf9VBdUd%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                        button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
p  
h2 Кемер
.row.mt-3.mb-3
    .col-lg-4.col-md-4.col-sm-12.d-flex
        .card
            img.card-img-top.img-fluid(src='https://content.sunmar.ru//resize/800x600//media/image/1/311/637031870666338842.jpg')
            .card-body
                h3(style='text-align: center;') ROX ROYAL HOTEL ( EX GRAND HABER) 5*
                ul
                    li
                        a(href='https://www.sunmar.ru/hotels/turkey/rox-royal-hotel-kemer/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22E%2f0WUnaiLZrVaUy%2fMdWSMjPEAOrV9CPhhLvmIuCsjycNNNBhsbb%2b4DZ6iH2ORNMZUZw83Jo3Je3znLkOTf3MJ%2bZ02ViQLgUtSpanrC%2bEZmq%2fz590GFLMGTjQ7e61FoMdJtLX4ny72%2blnjg5mG4kznSC3eT2j0cszPWCeAqFHGuk%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                            strong от 52 997 руб. 7 ночей
                        |  на человека
                .col-lg-12.col-md-12.col-sm-12
                    a(href='https://www.sunmar.ru/hotels/turkey/rox-royal-hotel-kemer/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22E%2f0WUnaiLZrVaUy%2fMdWSMjPEAOrV9CPhhLvmIuCsjycNNNBhsbb%2b4DZ6iH2ORNMZUZw83Jo3Je3znLkOTf3MJ%2bZ02ViQLgUtSpanrC%2bEZmq%2fz590GFLMGTjQ7e61FoMdJtLX4ny72%2blnjg5mG4kznSC3eT2j0cszPWCeAqFHGuk%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                        button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
    .col-lg-4.col-md-4.col-sm-12.d-flex
        .card
            img.card-img-top.img-fluid(src='https://content.sunmar.ru//resize/800x600//media/image/1/682/637327636726056164.jpg')
            .card-body
                h3(style='text-align: center;') ULUSOY KEMER HOLIDAY CLUB 5*
                ul
                    li
                        a(href='https://www.sunmar.ru/hotels/turkey/ulusoy-kemer-holiday-club-kemer/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22oUR2wEJThNit3eCBbgwVJZVsg6yHdIenpxy3T03dXgWosO499EL1wd3tp5ZV04znrMClYLxKzQaHi%2bg9P6APu0vuDHi3P35PGi82UYeScegcUAXDi2LI4vfSvL91GNHrGK09exqynKBTdNvm%2bTAcSPo6FgY6%2bvCCaXKrAYGTACU%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3atrue%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                            strong от 55 652 руб. 7 ночей
                        |  на человека
                .col-lg-12.col-md-12.col-sm-12
                    a(href='https://www.sunmar.ru/hotels/turkey/ulusoy-kemer-holiday-club-kemer/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22oUR2wEJThNit3eCBbgwVJZVsg6yHdIenpxy3T03dXgWosO499EL1wd3tp5ZV04znrMClYLxKzQaHi%2bg9P6APu0vuDHi3P35PGi82UYeScegcUAXDi2LI4vfSvL91GNHrGK09exqynKBTdNvm%2bTAcSPo6FgY6%2bvCCaXKrAYGTACU%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3atrue%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                        button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
    .col-lg-4.col-md-4.col-sm-12.d-flex
        .card
            img.card-img-top.img-fluid(src='https://content.sunmar.ru//resize/800x600//media/image/1/709/637388100667174920.jpg')
            .card-body
                h3(style='text-align: center;') SAILORS BEACH CLUB 5*
                ul
                    li
                        a(href='https://www.sunmar.ru/hotels/turkey/sailors-beach-club-kemer/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22II%2bDqKkVdY3RVyLlkVpIcMBz8aDHyzH%2boJiv%2fqmOgcI%2f64IFaxxoLQa1EGbC9vZMGfE%2bKUzdF8IDvQ0xMv1vExNPAJAeELEfM0dsL%2bUSq1%2fVuxM7FTYLx6TjbWeNj8OHqcaJcPJYZcsKsdGDoTVf8KBJP8h53dimfkqTyinNwIo%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                            strong от 59 095 руб. 7 ночей
                        |  на человека
                .col-lg-12.col-md-12.col-sm-12
                    a(href='https://www.sunmar.ru/hotels/turkey/sailors-beach-club-kemer/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22II%2bDqKkVdY3RVyLlkVpIcMBz8aDHyzH%2boJiv%2fqmOgcI%2f64IFaxxoLQa1EGbC9vZMGfE%2bKUzdF8IDvQ0xMv1vExNPAJAeELEfM0dsL%2bUSq1%2fVuxM7FTYLx6TjbWeNj8OHqcaJcPJYZcsKsdGDoTVf8KBJP8h53dimfkqTyinNwIo%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                        button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
.row.mt-3.mb-3
    .col-lg-4.col-md-4.col-sm-12.d-flex
        .card
            img.card-img-top.img-fluid(src='https://content.sunmar.ru//resize/800x600//media/image/1/13570/636622492123715684.jpg')
            .card-body
                h3(style='text-align: center;') ALVA DONNA WORLD PALACE 5*
                ul
                    li
                        a(href='https://www.sunmar.ru/hotels/turkey/alva-donna-world-palace-kemer/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22VRrTUlRTaB2qU548PKfgWrl0412JF3jyeLCJjoV9jYwL9Yv2AtDWsJnT2kQbN%2b7u7Aa7wh5c5b6K3Oe3ekQtsFJCtGnP%2fCf3w1vXkj48UyWwAQVxbEWGNgCxeKQPVUaCnLu5qa%2bHmms%2bQdlPJliMTcq1J3ENf9hgZoRIQmE0%2fNg%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                            strong от 67 042 руб. 7 ночей
                        |  на человека
                .col-lg-12.col-md-12.col-sm-12
                    a(href='https://www.sunmar.ru/hotels/turkey/alva-donna-world-palace-kemer/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22VRrTUlRTaB2qU548PKfgWrl0412JF3jyeLCJjoV9jYwL9Yv2AtDWsJnT2kQbN%2b7u7Aa7wh5c5b6K3Oe3ekQtsFJCtGnP%2fCf3w1vXkj48UyWwAQVxbEWGNgCxeKQPVUaCnLu5qa%2bHmms%2bQdlPJliMTcq1J3ENf9hgZoRIQmE0%2fNg%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                        button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
    .col-lg-4.col-md-4.col-sm-12.d-flex
        .card
            img.card-img-top.img-fluid(src='https://content.sunmar.ru//resize/800x600//media/image/1/9246/637435772995500428.jpg')
            .card-body
                h3(style='text-align: center;') NIRVANA DOLCE VITA 5*
                ul
                    li
                        a(href='https://www.sunmar.ru/hotels/turkey/nirvana-dolce-vita-kemer/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22BBsxaeDD9GVFiEQGUm64RZncZuNYNRXUYy%2ft%2bm1Xp%2b8B1P6cxZqNGX5zh%2bhfZ3JasJtfxzlWiGPKlTucFaMFvK1GxiatadsJ%2bShOOqbX9Ipoy%2bdZI9qschxfnMyOsV5vQcmM2WeVDVfLFn%2b15FtA8zL6MFRHzOYniwp4LkTHTdQ%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                            strong от 92 432 руб. 7 ночей
                        |  на человека
                .col-lg-12.col-md-12.col-sm-12
                    a(href='https://www.sunmar.ru/hotels/turkey/nirvana-dolce-vita-kemer/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22BBsxaeDD9GVFiEQGUm64RZncZuNYNRXUYy%2ft%2bm1Xp%2b8B1P6cxZqNGX5zh%2bhfZ3JasJtfxzlWiGPKlTucFaMFvK1GxiatadsJ%2bShOOqbX9Ipoy%2bdZI9qschxfnMyOsV5vQcmM2WeVDVfLFn%2b15FtA8zL6MFRHzOYniwp4LkTHTdQ%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                        button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
p  
h2 Сиде
.row.mt-3.mb-3
    .col-lg-4.col-md-4.col-sm-12.d-flex
        .card
            img.card-img-top.img-fluid(src='https://content.sunmar.ru//resize/800x600//media/image/1/30559/637177040212175294.jpg')
            .card-body
                h3(style='text-align: center;') OTIUM FAMILY CLUB MARINE BEACH 5*
                ul
                    li
                        a(href='https://www.sunmar.ru/hotels/turkey/otium-family-club-marine-beach-side/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22ZKbCtlFbNkb2OGaYSlhruW2g67s%2bZlHzNw1zUOftoEIkfLPeH%2bxmAGydaDHtIaYVPXHHk1ZFacRwM0aLjY3Rz19aKAhz26%2b%2flcSqV7TH7x%2bMfUn%2feXayvUODzzlD6%2fMJ8LtvKcRYPDaSUFleG%2bYzeMKx5rYF%2b8zg8mdhg7OV7aDlcyW0dPUnUBjZG0N7skpE%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                            strong от 46 283 руб. 7 ночей
                        |  на человека
                .col-lg-12.col-md-12.col-sm-12
                    a(href='https://www.sunmar.ru/hotels/turkey/otium-family-club-marine-beach-side/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22ZKbCtlFbNkb2OGaYSlhruW2g67s%2bZlHzNw1zUOftoEIkfLPeH%2bxmAGydaDHtIaYVPXHHk1ZFacRwM0aLjY3Rz19aKAhz26%2b%2flcSqV7TH7x%2bMfUn%2feXayvUODzzlD6%2fMJ8LtvKcRYPDaSUFleG%2bYzeMKx5rYF%2b8zg8mdhg7OV7aDlcyW0dPUnUBjZG0N7skpE%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                        button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
    .col-lg-4.col-md-4.col-sm-12.d-flex
        .card
            img.card-img-top.img-fluid(src='https://content.sunmar.ru//resize/800x600//media/image/1/30511/637327560034016766.jpg')
            .card-body
                h3(style='text-align: center;') VICTORY BE MINE 5*
                ul
                    li
                        a(href='https://www.sunmar.ru/hotels/turkey/victory-be-mine-side/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22wFTygqeB9sw9ncSjGzUQAuRmHhMoW2Fesz%2bMnTDIOLrZRAnwC8Amv1KTuSzFlpMXsCqu9DfXuJlg02Ovq6k%2b%2fy4dqXq%2bn73hzQVBdN7cIJmI56fAc43g4erp9nf9JCmJZOZ%2fxW2%2fQ9jlNcZamuVCIULCGAGoneXfDt86uObdCE0%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                            strong от 54 765 руб. 7 ночей
                        |  на человека
                .col-lg-12.col-md-12.col-sm-12
                    a(href='https://www.sunmar.ru/hotels/turkey/victory-be-mine-side/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22wFTygqeB9sw9ncSjGzUQAuRmHhMoW2Fesz%2bMnTDIOLrZRAnwC8Amv1KTuSzFlpMXsCqu9DfXuJlg02Ovq6k%2b%2fy4dqXq%2bn73hzQVBdN7cIJmI56fAc43g4erp9nf9JCmJZOZ%2fxW2%2fQ9jlNcZamuVCIULCGAGoneXfDt86uObdCE0%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                        button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
    .col-lg-4.col-md-4.col-sm-12.d-flex
        .card
            img.card-img-top.img-fluid(src='https://content.sunmar.ru//resize/800x600//media/image/1/453/636580069001982849.jpg')
            .card-body
                h3(style='text-align: center;') OTIUM FAMILY ECO CLUB 5*
                ul
                    li
                        a(href='https://www.sunmar.ru/hotels/turkey/otium-family-eco-club-side/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22EO1%2bIzu8Go4l%2bGPvjjEotXwSvh5qKGwxp59LH%2bOH3l5HmaYc3MsxNQGWlWlZsjplG5NY9iFCEJlnbqoICPo%2f2IfLb%2feDKi%2bDdhcggrbLOjqEIoV1HFsK1JYkvfM4srhGNkVS3j9Pn0xMD1f5QdO7UbiGcL9WTngp3%2fzMnqsFQ98%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                            strong от 58 766 руб. 7 ночей
                        |  на человека
                .col-lg-12.col-md-12.col-sm-12
                    a(href='https://www.sunmar.ru/hotels/turkey/otium-family-eco-club-side/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22EO1%2bIzu8Go4l%2bGPvjjEotXwSvh5qKGwxp59LH%2bOH3l5HmaYc3MsxNQGWlWlZsjplG5NY9iFCEJlnbqoICPo%2f2IfLb%2feDKi%2bDdhcggrbLOjqEIoV1HFsK1JYkvfM4srhGNkVS3j9Pn0xMD1f5QdO7UbiGcL9WTngp3%2fzMnqsFQ98%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                        button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
.row.mt-3.mb-3
    .col-lg-4.col-md-4.col-sm-12.d-flex
        .card
            img.card-img-top.img-fluid(src='https://content.sunmar.ru//resize/800x600//media/image/1/4139/636537081280835300.jpeg')
            .card-body
                h3(style='text-align: center;') STARLIGHT RESORT HOTEL 5*
                ul
                    li
                        a(href='https://www.sunmar.ru/hotels/turkey/starlight-resort-hotel-side/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22VUIAKQoeLb0FP1GmPwXCW7o7UnrHxZ42jO0GtA5woi6%2fA%2bWJpqUuwsuu46CQsJDQtT9gt6dkdy7poazLnNN5i%2fzkVGaEjAOqHPWl2O533erXfuTyf1w7gn0lNT8yuibsIFxBXr74NQxUjbH7Y%2bSmbZ%2feACABg56Bvojv96TGsHg%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                            strong от 59 609 руб. 7 ночей
                        |  на человека
                .col-lg-12.col-md-12.col-sm-12
                    a(href='https://www.sunmar.ru/hotels/turkey/starlight-resort-hotel-side/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22VUIAKQoeLb0FP1GmPwXCW7o7UnrHxZ42jO0GtA5woi6%2fA%2bWJpqUuwsuu46CQsJDQtT9gt6dkdy7poazLnNN5i%2fzkVGaEjAOqHPWl2O533erXfuTyf1w7gn0lNT8yuibsIFxBXr74NQxUjbH7Y%2bSmbZ%2feACABg56Bvojv96TGsHg%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                        button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
    .col-lg-4.col-md-4.col-sm-12.d-flex
        .card
            img.card-img-top.img-fluid(src='https://content.sunmar.ru//resize/800x600//media/image/1/12879/637777515783415990.jpg')
            .card-body
                h3(style='text-align: center;') KAMELYA AISHEN K CLUB 5*
                ul
                    li
                        a(href='https://www.sunmar.ru/hotels/turkey/kamelya-aishen-k-club-side/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22WYyTvs4oudYc41%2blPOVR38NrOkDrFrHICPEwxDUvm5IccC9pQH1EbA%2fOOFlr5rq8T865Lb75Yc6tumPfL7J79ga%2furzffI1HWGzTLVcuswwxBYbTo%2bG1frsC%2bIP3318FjO761QlFyjPstb7u5MAVZhgVCC%2f3ztV3tCscq36w5LY%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                            strong от 60 587 руб. 7 ночей
                        |  на человека
                .col-lg-12.col-md-12.col-sm-12
                    a(href='https://www.sunmar.ru/hotels/turkey/kamelya-aishen-k-club-side/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22WYyTvs4oudYc41%2blPOVR38NrOkDrFrHICPEwxDUvm5IccC9pQH1EbA%2fOOFlr5rq8T865Lb75Yc6tumPfL7J79ga%2furzffI1HWGzTLVcuswwxBYbTo%2bG1frsC%2bIP3318FjO761QlFyjPstb7u5MAVZhgVCC%2f3ztV3tCscq36w5LY%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                        button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
    .col-lg-4.col-md-4.col-sm-12.d-flex
        .card
            img.card-img-top.img-fluid(src='https://content.sunmar.ru//resize/800x600//media/image/1/455/636691540230315523.jpg')
            .card-body
                h3(style='text-align: center;') VOYAGE SORGUN 5*
                ul
                    li
                        a(href='https://www.sunmar.ru/hotels/turkey/voyage-sorgun-side/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22IzpbA8lr5tfin4ET%2fINmcfnAnbgdz1DDP2v1rNVPIIST%2br0cSvRIN8seQ3pIFwV8PSCnAIN%2fOZkYcUhL1aH0EQ13Z1jd%2fb%2bOekbre1doRe5bjwv8lS9d0EezjRdS8Wd1BRUEg9BQNr5jbeHp58a47w%3d%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                            strong от 83 185 руб. 7 ночей
                        |  на человека
                .col-lg-12.col-md-12.col-sm-12
                    a(href='https://www.sunmar.ru/hotels/turkey/voyage-sorgun-side/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22IzpbA8lr5tfin4ET%2fINmcfnAnbgdz1DDP2v1rNVPIIST%2br0cSvRIN8seQ3pIFwV8PSCnAIN%2fOZkYcUhL1aH0EQ13Z1jd%2fb%2bOekbre1doRe5bjwv8lS9d0EezjRdS8Wd1BRUEg9BQNr5jbeHp58a47w%3d%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                        button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
p  
h2 Белек
.row.mt-3.mb-3
    .col-lg-4.col-md-4.col-sm-12.d-flex
        .card
            img.card-img-top.img-fluid(src='https://content.sunmar.ru//resize/800x600//media/image/1/30303/637329425537947821.jpg')
            .card-body
                h3(style='text-align: center;') AQUAWORLD BELEK (MANAGED BY MP HOTELS) 5*
                ul
                    li
                        a(href='https://www.sunmar.ru/hotels/turkey/aquaworld-belek-managed-by-mp-hotels-belek/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22tTqSVELO4dUgBmXjxi2VV%2fUdmBJAh9AkXcw9SUUAABo5aO9cPspzHMOoRawDe0UQj8cDEU3wfb9tpHoVcCU8Oejl0AOSrTBXccvrZvtdWj344XVZDw%2f9cHZY%2f3CkRv1CwtgTTsQCertyBnU3eLMwR65LuufhpSsjDItT0EdVnoKVbGWTUcVB9EpgEHY2CWIo%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                            strong от 58 807 руб. 7 ночей
                        |  на человека
                .col-lg-12.col-md-12.col-sm-12
                    a(href='https://www.sunmar.ru/hotels/turkey/aquaworld-belek-managed-by-mp-hotels-belek/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22tTqSVELO4dUgBmXjxi2VV%2fUdmBJAh9AkXcw9SUUAABo5aO9cPspzHMOoRawDe0UQj8cDEU3wfb9tpHoVcCU8Oejl0AOSrTBXccvrZvtdWj344XVZDw%2f9cHZY%2f3CkRv1CwtgTTsQCertyBnU3eLMwR65LuufhpSsjDItT0EdVnoKVbGWTUcVB9EpgEHY2CWIo%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                        button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
    .col-lg-4.col-md-4.col-sm-12.d-flex
        .card
            img.card-img-top.img-fluid(src='https://content.sunmar.ru//resize/800x600//media/image/1/10197/636580210309550673.jpg')
            .card-body
                h3(style='text-align: center;') PORT NATURE LUXURY RESORT HOTEL & SPA 5*
                ul
                    li
                        a(href='https://www.sunmar.ru/hotels/turkey/port-nature-luxury-resort-hotel-spa-belek/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22XHmscZangMfyoWoRYb32bJegU9X51ldQw%2b28Csjh9V%2fQkAg9SDfTCydU%2fVy%2bPgDyP4xz%2fZWpd3sFaTS692UqzP%2bVrsntLpI2FEMQNWE7NSVHoUPP8FLasdEvFfACC4QU%2f%2fLY1HXr4Zzm4QYHpkIqE9pgdOEs3B17C3mpH9NyjhFi9ze74%2fnmDPXiYxXivgDE%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                            strong от 67 725 руб. 7 ночей
                        |  на человека
                .col-lg-12.col-md-12.col-sm-12
                    a(href='https://www.sunmar.ru/hotels/turkey/port-nature-luxury-resort-hotel-spa-belek/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22XHmscZangMfyoWoRYb32bJegU9X51ldQw%2b28Csjh9V%2fQkAg9SDfTCydU%2fVy%2bPgDyP4xz%2fZWpd3sFaTS692UqzP%2bVrsntLpI2FEMQNWE7NSVHoUPP8FLasdEvFfACC4QU%2f%2fLY1HXr4Zzm4QYHpkIqE9pgdOEs3B17C3mpH9NyjhFi9ze74%2fnmDPXiYxXivgDE%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                        button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
    .col-lg-4.col-md-4.col-sm-12.d-flex
        .card
            img.card-img-top.img-fluid(src='https://content.sunmar.ru//resize/800x600//media/image/1/961/636543085218382689.jpg' width='800' height='600')
            .card-body
                h3(style='text-align: center;') IC HOTELS SANTAI FAMILY RESORT 5*
                ul
                    li
                        a(href='https://www.sunmar.ru/hotels/turkey/ic-hotels-santai-family-resort-belek/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22yb%2b2eS7MJt4r82gJ%2bA%2byQtH1IbIwYlPzltmWY8NcMvFVEPcrARm%2bFYAKKUWmeIwzDuImDwXR44mtZWH9ztg9QlOZ0gY1eNRpREFM%2bsALMBNMIZ%2bdRNz%2bEhwM%2bDRaiLpfteuXsyEx90dGWCXQHMGbMRuyX8mPd1i4kNCgnjW%2fDcE%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                            strong от 68 343 руб. 7 ночей
                        |  на человека
                .col-lg-12.col-md-12.col-sm-12
                    a(href='https://www.sunmar.ru/hotels/turkey/ic-hotels-santai-family-resort-belek/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22yb%2b2eS7MJt4r82gJ%2bA%2byQtH1IbIwYlPzltmWY8NcMvFVEPcrARm%2bFYAKKUWmeIwzDuImDwXR44mtZWH9ztg9QlOZ0gY1eNRpREFM%2bsALMBNMIZ%2bdRNz%2bEhwM%2bDRaiLpfteuXsyEx90dGWCXQHMGbMRuyX8mPd1i4kNCgnjW%2fDcE%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                        button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
.row.mt-3.mb-3
    .col-lg-4.col-md-4.col-sm-12.d-flex
        .card
            img.card-img-top.img-fluid(src='https://content.sunmar.ru//resize/800x600//media/image/1/970/636537043654424914.jpg')
            .card-body
                h3(style='text-align: center;') PINE BEACH BELEK 5*
                ul
                    li
                        a(href='https://www.sunmar.ru/hotels/turkey/pine-beach-belek-belek/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22J67gqiUe0%2bhS880K4Vq2wZWtG7wZoCnTGaVwlv%2bOvjO822wo7L4daXfg4RMAVho9ZI6QpWru9%2fR6YIh5t8U5nMwU8DDiLgq%2fFjaQQM0GKe4vxpw6%2fsAWn80vY3kaTeP%2b%2fB2WKAsWm5yc9NfXEvBc0g%3d%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                            strong от 71 478 руб. 7 ночей
                        |  на человека
                .col-lg-12.col-md-12.col-sm-12
                    a(href='https://www.sunmar.ru/hotels/turkey/pine-beach-belek-belek/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22J67gqiUe0%2bhS880K4Vq2wZWtG7wZoCnTGaVwlv%2bOvjO822wo7L4daXfg4RMAVho9ZI6QpWru9%2fR6YIh5t8U5nMwU8DDiLgq%2fFjaQQM0GKe4vxpw6%2fsAWn80vY3kaTeP%2b%2fB2WKAsWm5yc9NfXEvBc0g%3d%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                        button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
    .col-lg-4.col-md-4.col-sm-12.d-flex
        .card
            img.card-img-top.img-fluid(src='https://content.sunmar.ru//resize/800x600//media/image/1/974/637808781292842618.jpg' width='1024' height='709')
            .card-body
                h3(style='text-align: center;') PAPILLON BELVIL HOTEL 5*
                ul
                    li
                        a(href='https://www.sunmar.ru/hotels/turkey/papillon-belvil-hotel-belek/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22FSgJbW%2fvehbuA%2bbesTAOaUTqt5DAl%2funplDBF3g9Hc3flKCiHheG%2bQEjyJRhvOgtMMnwNqBJa%2bH96UZ%2bsSczlAzh66MjAEB4GiVLsFtSfW%2fwCSYahGwTGIe9Ebz6rdnnrLIAv4OpDWsE7cuj9mGBt15DVi7qK7mugAMZYfolL00%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                            strong от 80 573 руб. 7 ночей
                        |  на человека
                .col-lg-12.col-md-12.col-sm-12
                    a(href='https://www.sunmar.ru/hotels/turkey/papillon-belvil-hotel-belek/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22FSgJbW%2fvehbuA%2bbesTAOaUTqt5DAl%2funplDBF3g9Hc3flKCiHheG%2bQEjyJRhvOgtMMnwNqBJa%2bH96UZ%2bsSczlAzh66MjAEB4GiVLsFtSfW%2fwCSYahGwTGIe9Ebz6rdnnrLIAv4OpDWsE7cuj9mGBt15DVi7qK7mugAMZYfolL00%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                        button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
    .col-lg-4.col-md-4.col-sm-12.d-flex
        .card
            img.card-img-top.img-fluid(src='https://content.sunmar.ru//resize/800x600//media/image/1/9910/636505743324184555.PNG' width='1024' height='709')
            .card-body
                h3(style='text-align: center;') BELLIS DELUXE HOTEL 5*
                ul
                    li
                        a(href='https://www.sunmar.ru/hotels/turkey/bellis-deluxe-hotel-belek/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22pzg3C%2fBYdCU8TrZMKXiHFF7R45DHavb9s%2fFe1I4ev78kTKG%2fmOig8WUnSITPaHbC%2fthRw4RtDiuZ7nQdHg3oFUh6DBf74amV32okpQbgXWYXS0DMjO1%2bLOt5kIzVD6dv%2b%2f%2fcqNpYUvi0s9VAc4Wd73L%2b9Z7TJsgMZZjswguhfcg%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                            strong от 84 805 руб. 7 ночей
                        |  на человека
                .col-lg-12.col-md-12.col-sm-12
                    a(href='https://www.sunmar.ru/hotels/turkey/bellis-deluxe-hotel-belek/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22pzg3C%2fBYdCU8TrZMKXiHFF7R45DHavb9s%2fFe1I4ev78kTKG%2fmOig8WUnSITPaHbC%2fthRw4RtDiuZ7nQdHg3oFUh6DBf74amV32okpQbgXWYXS0DMjO1%2bLOt5kIzVD6dv%2b%2f%2fcqNpYUvi0s9VAc4Wd73L%2b9Z7TJsgMZZjswguhfcg%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                        button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
.row.mt-3.mb-3
    .col-lg-4.col-md-4.col-sm-12.d-flex
        .card
            img.card-img-top.img-fluid(src='https://content.sunmar.ru//resize/800x600//media/image/1/982/636985331652846580.jpg')
            .card-body
                h3(style='text-align: center;') VOYAGE BELEK GOLF & SPA 5*
                ul
                    li
                        a(href='https://www.sunmar.ru/hotels/turkey/voyage-belek-golf-spa-belek/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22BuS%2fwTWKtSP6y8Whl7YhQrjlDo1nz39Ew5u6mAeTrNwTT8ehT22xIIEDQFEPb34KtFa0mKDbO9bm9W8kQPiciFJiSvckGCjOuSPG%2f0xvMJ9nDJKYiLB9HH%2bBJe4Hl0o7AUcU4J4Mcj8SnDg0wU3GCIUAzFDT4tCZyLNBLAHAOPU%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                            strong от 94 278 руб. 7 ночей
                        |  на человека
                .col-lg-12.col-md-12.col-sm-12
                    a(href='https://www.sunmar.ru/hotels/turkey/voyage-belek-golf-spa-belek/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22BuS%2fwTWKtSP6y8Whl7YhQrjlDo1nz39Ew5u6mAeTrNwTT8ehT22xIIEDQFEPb34KtFa0mKDbO9bm9W8kQPiciFJiSvckGCjOuSPG%2f0xvMJ9nDJKYiLB9HH%2bBJe4Hl0o7AUcU4J4Mcj8SnDg0wU3GCIUAzFDT4tCZyLNBLAHAOPU%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                        button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
    .col-lg-4.col-md-4.col-sm-12.d-flex
        .card
            img.card-img-top.img-fluid(src='https://content.sunmar.ru//resize/800x600//media/image/1/4305/637644582306761549.jpg' width='1024' height='709')
            .card-body
                h3(style='text-align: center;') MAXX ROYAL BELEK GOLF RESORT 5*Deluxe
                ul
                    li
                        a(href='https://www.sunmar.ru/hotels/turkey/maxx-royal-belek-golf-resort-belek/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22JNdBJtVHFw87kfwWX%2b1aNdH6R1QpqIG1nvcwKP%2fjNSpJPz1IPy8k1cbv9xAzOZMwPcSxpUFLgrMjTuSRlNcrMq1VR%2bIXgfsXLVz1SOx9cfZhSdEEacdlLNA0mrEoA0fQKZ97Q8Ue4Seg6o3Nn0V2laIju9A5cUQtFLOS2rLzSdI%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                            strong от 155 762 руб. 7 ночей
                        |  на человека
                .col-lg-12.col-md-12.col-sm-12
                    a(href='https://www.sunmar.ru/hotels/turkey/maxx-royal-belek-golf-resort-belek/?q=%7b%22Bgn%22%3a%2226.09.2022%22%2c%22End%22%3a%2202.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22JNdBJtVHFw87kfwWX%2b1aNdH6R1QpqIG1nvcwKP%2fjNSpJPz1IPy8k1cbv9xAzOZMwPcSxpUFLgrMjTuSRlNcrMq1VR%2bIXgfsXLVz1SOx9cfZhSdEEacdlLNA0mrEoA0fQKZ97Q8Ue4Seg6o3Nn0V2laIju9A5cUQtFLOS2rLzSdI%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
                        button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
