h2 Коллекция отелей<br />для отдыха в Турции осенью
.row.mt-3.mb-3
	.col-lg-4.col-md-4.col-sm-12.d-flex
		.card
			img.card-img-top.img-fluid(src='https://content.coral.ru//resize/1600x900//media/image/1/580/636679741809602547.jpg')
			.card-body
				h3(style='text-align: center;')
					| IC HOTELS GREEN PALACE 5*, 
					br
					| Анталья
				ul
					li
						a(href='https://www.coral.ru/hotels/turkey/ic-hotels-green-palace-antalya/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%228bkOO10IfjAg4rIXPp0G939btFRpu7oaWfm2Igy5CgYEEEhPNApTb%2fNBj6ocfSa4ot2Lgilet0TnHtoAg1Lix67U52iE0MW%2fUaYg599V%2bmS4QIgIWPW%2fz99itTlMKyTKjI0M0oZKTNOnwBV4HGc1iDpH4d0t7XlSTMPBonZhSuI%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
							strong от 68 650 руб. 7 ночей
						|  на человека
				.col-lg-12.col-md-12.col-sm-12
					a(href='https://www.coral.ru/hotels/turkey/ic-hotels-green-palace-antalya/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%228bkOO10IfjAg4rIXPp0G939btFRpu7oaWfm2Igy5CgYEEEhPNApTb%2fNBj6ocfSa4ot2Lgilet0TnHtoAg1Lix67U52iE0MW%2fUaYg599V%2bmS4QIgIWPW%2fz99itTlMKyTKjI0M0oZKTNOnwBV4HGc1iDpH4d0t7XlSTMPBonZhSuI%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
						button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
	.col-lg-4.col-md-4.col-sm-12.d-flex
		.card
			img.card-img-top.img-fluid(src='https://content.coral.ru//resize/1600x900//media/image/1/10105/636446981657803374.jpg')
			.card-body
				h3(style='text-align: center;')
					| LIBERTY HOTELS LYKIA 5*HV, 
					br
					| Фетхие
				ul
					li
						a(href='https://www.coral.ru/hotels/turkey/liberty-hotels-lykia-fethiye/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22LARjTd%2fkc0NyF%2fxajMm1Br1bKpd6NST1bb96SYE1RnzwFQeYkxW7u9OKwrrV%2fQFxqdVFQkDQMT14HF3XE5ZkGK6kVif7ecfM0vBf%2f5xGE6YA9o3TDenzxeHAQ1ORjgibOoknrZ6IWj5aozrBxaDucifhCtnoCWgB1siVp4BiUvU%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
							strong от 82 917 руб. 7 ночей
						|  на человека
				.col-lg-12.col-md-12.col-sm-12
					a(href='https://www.coral.ru/hotels/turkey/liberty-hotels-lykia-fethiye/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22LARjTd%2fkc0NyF%2fxajMm1Br1bKpd6NST1bb96SYE1RnzwFQeYkxW7u9OKwrrV%2fQFxqdVFQkDQMT14HF3XE5ZkGK6kVif7ecfM0vBf%2f5xGE6YA9o3TDenzxeHAQ1ORjgibOoknrZ6IWj5aozrBxaDucifhCtnoCWgB1siVp4BiUvU%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
						button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
	.col-lg-4.col-md-4.col-sm-12.d-flex
		.card
			img.card-img-top.img-fluid(src='https://content.coral.ru//resize/1600x900//media/image/1/10225/636447028796321515.jpg')
			.card-body
				h3(style='text-align: center;')
					| LIBERTY HOTELS LYKIA ADULT ONLY 5*, 
					br
					| Фетхие
				ul
					li
						a(href='https://www.coral.ru/hotels/turkey/liberty-hotels-lykia-adult-only-ex-sentido-lykia-resort-fethiye/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22nXczhozxEc0j2INM7qe3e3UurDYPscRmFEs4RfVU9rsb%2fwShjZCUtIMpOENyIrRFPH7%2fk%2fkByTi0CTm7GjHloZsFfspUBIJZtKDxI9MNjcBXCX8LCMgkU2CUkfeiqchcj%2bT84DCip4eiaRX2dR%2b%2b%2fzcwK8%2bQat9N1pBMeOyW7O28OFWNp0TG0aUuoFvK%2bwN%2f3pInKiYC6ouKBICrVTYSlg%3d%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
							strong от 83 885 руб. 7 ночей
						|  на человека
				.col-lg-12.col-md-12.col-sm-12
					a(href='https://www.coral.ru/hotels/turkey/liberty-hotels-lykia-adult-only-ex-sentido-lykia-resort-fethiye/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22nXczhozxEc0j2INM7qe3e3UurDYPscRmFEs4RfVU9rsb%2fwShjZCUtIMpOENyIrRFPH7%2fk%2fkByTi0CTm7GjHloZsFfspUBIJZtKDxI9MNjcBXCX8LCMgkU2CUkfeiqchcj%2bT84DCip4eiaRX2dR%2b%2b%2fzcwK8%2bQat9N1pBMeOyW7O28OFWNp0TG0aUuoFvK%2bwN%2f3pInKiYC6ouKBICrVTYSlg%3d%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
						button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
h2 Аланья
.row.mt-3.mb-3
	.col-lg-4.col-md-4.col-sm-12.d-flex
		.card
			img.card-img-top.img-fluid(src='https://cdn.coral.ru/content/636909420384150612-1-ba20ed1b.jpg' width='1024' height='575')
			.card-body
				h3(style='text-align: center;') MERIDIA BEACH HOTEL 5*
				ul
					li
						a(href='https://www.coral.ru/hotels/turkey/meridia-beach-hotel-alanya/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22Kov%2fEjDd4%2fReE7%2bURN6nDZQc0PcRi1MGQke4tvo9G4%2b1mgHgpNu37VZIgizmFRaLNy592MAxj1nNh4L5SCGg95IFw7waHR7tIxqkmo3LUOK97q%2bVg6HrK6n%2fkUUCoOUs7%2f3wyEbB%2fNS%2fuhtixmftkLnk1Jx8MD3XYa4QLTR4b%2bM%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
							strong от 45 008 руб. 7 ночей
						|  на человека
				.col-lg-12.col-md-12.col-sm-12
					a(href='https://www.coral.ru/hotels/turkey/meridia-beach-hotel-alanya/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22Kov%2fEjDd4%2fReE7%2bURN6nDZQc0PcRi1MGQke4tvo9G4%2b1mgHgpNu37VZIgizmFRaLNy592MAxj1nNh4L5SCGg95IFw7waHR7tIxqkmo3LUOK97q%2bVg6HrK6n%2fkUUCoOUs7%2f3wyEbB%2fNS%2fuhtixmftkLnk1Jx8MD3XYa4QLTR4b%2bM%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
						button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
	.col-lg-4.col-md-4.col-sm-12.d-flex
		.card
			img.card-img-top.img-fluid(src='https://content.coral.ru//resize/1600x900//media/image/1/748/636785836423666049.jpg' width='800' height='600')
			.card-body
				h3(style='text-align: center;') JUSTINIANO CLUB ALANYA 4*
				ul
					li
						a(href='https://www.coral.ru/hotels/turkey/justiniano-club-alanya-alanya/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22TpK15IQYuXagHBKXoI50OcqqF1SnE%2finPZF%2bNwnFu14tcJ90dfWvfCMFrgBy7XtLHkD9p8i26FYtwuUtnyP8KC00LV6tSJ4REIVaMWko%2bGIWoX3Ni%2fo0zMWQCr%2bT%2bvnY97z7eyLYfMzSAUg0tPcXwzIP3wDY89zeNTHMWAEGt18%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
							strong от 49 259 руб. 7 ночей
						|  на человека
				.col-lg-12.col-md-12.col-sm-12
					a(href='https://www.coral.ru/hotels/turkey/justiniano-club-alanya-alanya/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22TpK15IQYuXagHBKXoI50OcqqF1SnE%2finPZF%2bNwnFu14tcJ90dfWvfCMFrgBy7XtLHkD9p8i26FYtwuUtnyP8KC00LV6tSJ4REIVaMWko%2bGIWoX3Ni%2fo0zMWQCr%2bT%2bvnY97z7eyLYfMzSAUg0tPcXwzIP3wDY89zeNTHMWAEGt18%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
						button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
	.col-lg-4.col-md-4.col-sm-12.d-flex
		.card
			img.card-img-top.img-fluid(src='https://content.coral.ru//resize/1600x900//media/image/1/46532/637708487284063380.jpg')
			.card-body
				h3(style='text-align: center;') LONICERA WORLD RESORT SPA HOTEL 5*
				ul
					li
						a(href='https://www.coral.ru/hotels/turkey/lonicera-world-resort-hotel-alanya/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%229bpWkE%2f%2b4CDz0IwgrcuNX1GEuJoLOqMugV0zONuNxmO0%2bns68SLr%2b3987QD2okhGrf66uii6%2fHwGkLvi5hA9q3VLpg62QfrKK9htBrKbft%2bj8a0rI%2fuiJFGKxo7kC4efQQ7tR4CWHKHL2vwJVz%2fqZPceTsIOzpw%2beHmTmIG660IJRc3dpxXc6pVDeGeJvV9b%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
							strong от 51 941 руб. 7 ночей
						|  на человека
				.col-lg-12.col-md-12.col-sm-12
					a(href='https://www.coral.ru/hotels/turkey/lonicera-world-resort-hotel-alanya/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%229bpWkE%2f%2b4CDz0IwgrcuNX1GEuJoLOqMugV0zONuNxmO0%2bns68SLr%2b3987QD2okhGrf66uii6%2fHwGkLvi5hA9q3VLpg62QfrKK9htBrKbft%2bj8a0rI%2fuiJFGKxo7kC4efQQ7tR4CWHKHL2vwJVz%2fqZPceTsIOzpw%2beHmTmIG660IJRc3dpxXc6pVDeGeJvV9b%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
						button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
.row.mt-3.mb-3
	.col-lg-4.col-md-4.col-sm-12.d-flex
		.card
			img.card-img-top.img-fluid(src='https://cdn.coral.ru/content/636785916221742331-1-a41a9067.jpg' width='800' height='600')
			.card-body
				h3(style='text-align: center;') JUSTINIANO CLUB PARK CONTI 5*
				ul
					li
						a(href='https://www.coral.ru/hotels/turkey/justiniano-club-park-conti-alanya/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22JtcZclo8V3NA7OFQN6e4Fod3rmmBgAZXjjIXx7Ez8FvvB4O2%2fns5P%2fupZvJoccKr3fS7WFnyWxbmVduiSA1hVNEIgvCrqIkf%2f3b2X8SPmXZ60mmphjhqBRGqIj%2bZ0JkGhVT62PFtUTbKtZno22M0of%2bTTas%2bF2PfRED66x49itE%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
							strong от 51 969 руб. 7 ночей
						|  на человека
				.col-lg-12.col-md-12.col-sm-12
					a(href='https://www.coral.ru/hotels/turkey/justiniano-club-park-conti-alanya/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22JtcZclo8V3NA7OFQN6e4Fod3rmmBgAZXjjIXx7Ez8FvvB4O2%2fns5P%2fupZvJoccKr3fS7WFnyWxbmVduiSA1hVNEIgvCrqIkf%2f3b2X8SPmXZ60mmphjhqBRGqIj%2bZ0JkGhVT62PFtUTbKtZno22M0of%2bTTas%2bF2PfRED66x49itE%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
						button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
	.col-lg-4.col-md-4.col-sm-12.d-flex
		.card
			img.card-img-top.img-fluid(src='https://cdn.coral.ru/content/637429408489980458-1-2a194fa0.jpg' width='800' height='600')
			.card-body
				h3(style='text-align: center;') NUMA BAY EXCLUSIVE HOTEL 5*
				ul
					li
						a(href='https://www.coral.ru/hotels/turkey/numa-bay-exclusive-hotel-alanya/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22Uy2yLuMSt463ZCmyn55bhXdD27O0btfKMmKqo6Gz7CidoaoMDrNLyZs91MjU6d0%2feHbAohICUbBZUb%2flWFimXQDgNX7louqULLxCLOvF4EbYBJxdtHhlO0YCSp86IuNyrh65KmZq1VJQHWgzS3BK%2fU3ai%2ffuf6k5hza3yykEZlQ%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
							strong от 52 189 руб. 7 ночей
						|  на человека
				.col-lg-12.col-md-12.col-sm-12
					a(href='https://www.coral.ru/hotels/turkey/numa-bay-exclusive-hotel-alanya/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22Uy2yLuMSt463ZCmyn55bhXdD27O0btfKMmKqo6Gz7CidoaoMDrNLyZs91MjU6d0%2feHbAohICUbBZUb%2flWFimXQDgNX7louqULLxCLOvF4EbYBJxdtHhlO0YCSp86IuNyrh65KmZq1VJQHWgzS3BK%2fU3ai%2ffuf6k5hza3yykEZlQ%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
						button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
	.col-lg-4.col-md-4.col-sm-12.d-flex
		.card
			img.card-img-top.img-fluid(src='https://content.coral.ru//resize/800x600/media/image/1/628/636458243427186524.jpg')
			.card-body
				h3(style='text-align: center;') UTOPIA WORLD DE LUXE HOTEL 5*
				ul
					li
						a(href='https://www.coral.ru/hotels/turkey/utopia-world-de-luxe-hotel-alanya/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22nnUkUrPaPFbZh6iWZpzSTG7zN1BDtjz9uS5aoS%2bIbPK881zDE2kBbnEZQrHX%2bth4cQMiMiZzUw%2f0NTs%2fLmkuBiwI70kqu3met7RKR0G%2b1zocrj4un7UtMmEiyc1FGqRfn6eJ0ibsABR%2bheWYqayrm2AGQ6xOVOCixM38Aj8mDf4%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
							strong от 58 108 руб. 7 ночей
						|  на человека
				.col-lg-12.col-md-12.col-sm-12
					a(href='https://www.coral.ru/hotels/turkey/utopia-world-de-luxe-hotel-alanya/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22nnUkUrPaPFbZh6iWZpzSTG7zN1BDtjz9uS5aoS%2bIbPK881zDE2kBbnEZQrHX%2bth4cQMiMiZzUw%2f0NTs%2fLmkuBiwI70kqu3met7RKR0G%2b1zocrj4un7UtMmEiyc1FGqRfn6eJ0ibsABR%2bheWYqayrm2AGQ6xOVOCixM38Aj8mDf4%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
						button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
h2 Белек
.row.mt-3.mb-3
	.col-lg-4.col-md-4.col-sm-12.d-flex
		.card
			img.card-img-top.img-fluid(src='https://cdn.coral.ru/content/637883214280659209-1-2438c5fd.jpg' width='800' height='600')
			.card-body
				h3(style='text-align: center;')
					| CESARS TEMPLE 
					br
					| DELUXE HOTEL 5*
				ul
					li
						a(href='https://www.coral.ru/hotels/turkey/cesars-temple-deluxe-hotel-belek/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%2275WHgdx4g21k8nqsw8ToPKzMy8A4Bgp3WZJXbVNybYet2bKSzTftbd8dlqSHzs2Zck%2fKBG8ee5ONkSFr%2bpXPk7%2bZu8FAwgx4kCboCCKcvR4P%2bvmR8VybZfWkON6MM%2b2xKnAAm%2frrCeN1Df0j33j59oxKEbh5XJ8rG71EcXMSrbs%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
							strong от 54 098 руб. 7 ночей
						|  на человека
				.col-lg-12.col-md-12.col-sm-12
					a(href='https://www.coral.ru/hotels/turkey/cesars-temple-deluxe-hotel-belek/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%2275WHgdx4g21k8nqsw8ToPKzMy8A4Bgp3WZJXbVNybYet2bKSzTftbd8dlqSHzs2Zck%2fKBG8ee5ONkSFr%2bpXPk7%2bZu8FAwgx4kCboCCKcvR4P%2bvmR8VybZfWkON6MM%2b2xKnAAm%2frrCeN1Df0j33j59oxKEbh5XJ8rG71EcXMSrbs%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
						button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
	.col-lg-4.col-md-4.col-sm-12.d-flex
		.card
			img.card-img-top.img-fluid(src='https://content.coral.ru//resize/800x600/media/image/1/30303/637329425537947821.jpg')
			.card-body
				h3(style='text-align: center;')
					| AQUAWORLD 
					br
					| BELEK 5*
				ul
					li
						a(href='https://www.coral.ru/hotels/turkey/aquaworld-belek-managed-by-mp-hotels-belek/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22GBXug3AKasMjFY5XR5mHdhpZff2tV4pN1sIh%2fJkiB%2ftmIu1sgR67TX9oQwLYJwlqFevrANiOwzFZcPf5Sgq%2fd3LxPc6L%2b1mCfO1ZbEv97UYpg33AUhQevaazUJaaFX2G3Yjg649UyFg%2ft827U%2bRsdlMMOInnW8xHzRcxQm4GWL%2f%2fBanTjNeMkAmSkAnJLjnf%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d            ' target='_blank' rel='noopener')
							strong от 57 023 руб. 7 ночей
						|  на человека
				.col-lg-12.col-md-12.col-sm-12
					a(href='https://www.coral.ru/hotels/turkey/aquaworld-belek-managed-by-mp-hotels-belek/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22GBXug3AKasMjFY5XR5mHdhpZff2tV4pN1sIh%2fJkiB%2ftmIu1sgR67TX9oQwLYJwlqFevrANiOwzFZcPf5Sgq%2fd3LxPc6L%2b1mCfO1ZbEv97UYpg33AUhQevaazUJaaFX2G3Yjg649UyFg%2ft827U%2bRsdlMMOInnW8xHzRcxQm4GWL%2f%2fBanTjNeMkAmSkAnJLjnf%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
						button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
	.col-lg-4.col-md-4.col-sm-12.d-flex
		.card
			img.card-img-top.img-fluid(src='https://content.coral.ru//resize/800x600/media/image/1/10197/636580210309550673.jpg' width='800' height='600')
			.card-body
				h3(style='text-align: center;')
					| PORT NATURE LUXURY RESORT 
					br
					| HOTEL & SPA 5*
				ul
					li
						a(href='https://www.coral.ru/hotels/turkey/port-nature-luxury-resort-hotel-spa-belek/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22c3kBukHEUQaqQygMsPBsYTzw6hiiIK879eJ1qIebHuOB%2bvTXVpqribO4byQAMJJkBdnEHreAhzSIVaY1DXHZCy7jGUIxaVDDJwIHQsebUPk2o0qvCr1%2b%2fQTDnoRP3RjfYDFHtVfVsWdZBdHRO1v%2bG51FN6dLcnPtuTUbhzeqJE%2fS4rSDX9gwxqB6vCZQG5jI%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
							strong от 66 730 руб. 7 ночей
						|  на человека
				.col-lg-12.col-md-12.col-sm-12
					a(href='https://www.coral.ru/hotels/turkey/port-nature-luxury-resort-hotel-spa-belek/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22c3kBukHEUQaqQygMsPBsYTzw6hiiIK879eJ1qIebHuOB%2bvTXVpqribO4byQAMJJkBdnEHreAhzSIVaY1DXHZCy7jGUIxaVDDJwIHQsebUPk2o0qvCr1%2b%2fQTDnoRP3RjfYDFHtVfVsWdZBdHRO1v%2bG51FN6dLcnPtuTUbhzeqJE%2fS4rSDX9gwxqB6vCZQG5jI%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
						button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
.row.mt-3.mb-3
	.col-lg-4.col-md-4.col-sm-12.d-flex
		.card
			img.card-img-top.img-fluid(src='https://content.coral.ru//resize/800x600/media/image/1/588/636536858603479976.jpg')
			.card-body
				h3(style='text-align: center;') ALVA DONNA EXCLUSIVE HOTEL & SPA 5*
				ul
					li
						a(href='https://www.coral.ru/hotels/turkey/alva-donna-exclusive-hotel-spa-belek/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22fBPjOtp0tAfOB%2bdv5E20%2bKBqzYs%2bEJEgUyX4TEvuHAahZCGHRY%2fXixTzYgP4mTUHtHOwdaomVmLQg%2f%2fIsCDl1fK%2fLauaMLPKbihJA%2bRDM4dTl7q5od9sFFeJ9LmTU1UcdiN8hkYYCYIzi99GwtAZyRdNcU%2fLF3r%2fNIuIRPOhj8%2bPRbhAmQpDWsyDqDO7r3sr%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
							strong от 70 413 руб. 7 ночей
						|  на человека
				.col-lg-12.col-md-12.col-sm-12
					a(href='https://www.coral.ru/hotels/turkey/alva-donna-exclusive-hotel-spa-belek/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22fBPjOtp0tAfOB%2bdv5E20%2bKBqzYs%2bEJEgUyX4TEvuHAahZCGHRY%2fXixTzYgP4mTUHtHOwdaomVmLQg%2f%2fIsCDl1fK%2fLauaMLPKbihJA%2bRDM4dTl7q5od9sFFeJ9LmTU1UcdiN8hkYYCYIzi99GwtAZyRdNcU%2fLF3r%2fNIuIRPOhj8%2bPRbhAmQpDWsyDqDO7r3sr%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
						button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
	.col-lg-4.col-md-4.col-sm-12.d-flex
		.card
			img.card-img-top.img-fluid(src='https://cdn.coral.ru/content/636537052541473518-1-bd91185e.jpg' width='800' height='600')
			.card-body
				h3(style='text-align: center;') PINE BEACH BELEK 5*
				ul
					li
						a(href='https://www.coral.ru/hotels/turkey/pine-beach-belek-belek/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22Rn7okRua3I%2bnRh%2bDQ30ufrJRQjeO8vubuV%2f1jaFN0byFN%2bbUCizPQ6pPhTrJA6ydoQgDdrzsEnMRj2HoWA0E1yKXRjzjBexSLadmNEuSG%2fYJ8t3fZKUn%2bK9%2fzfJCIaE4f1Jjwh0dEQmX3Yv9CEG3E%2fGrcVqYt1DhrKIZdBMrC9w%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
							strong от 70 828 руб. 7 ночей
						|  на человека
				.col-lg-12.col-md-12.col-sm-12
					a(href='https://www.coral.ru/hotels/turkey/pine-beach-belek-belek/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22Rn7okRua3I%2bnRh%2bDQ30ufrJRQjeO8vubuV%2f1jaFN0byFN%2bbUCizPQ6pPhTrJA6ydoQgDdrzsEnMRj2HoWA0E1yKXRjzjBexSLadmNEuSG%2fYJ8t3fZKUn%2bK9%2fzfJCIaE4f1Jjwh0dEQmX3Yv9CEG3E%2fGrcVqYt1DhrKIZdBMrC9w%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
						button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
	.col-lg-4.col-md-4.col-sm-12.d-flex
		.card
			img.card-img-top.img-fluid(src='https://content.coral.ru//resize/800x600/media/image/1/974/637808781292842618.jpg      ')
			.card-body
				h3(style='text-align: center;') PAPILLON BELVIL HOTEL 5*HV
				ul
					li
						a(href='https://www.coral.ru/hotels/turkey/papillon-belvil-hotel-belek/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%224IMRZdHIxkL3VoNZjwcBNOxEjv%2bkLN6%2bgihwFGf57gNwautME98tBZCRPhfgzOPb%2fqVKm3pCj%2bm%2btZwDY%2f1A4hY%2fJt6s6SMDhwqf8TOyAHbmoCKRUqsQBJMeco4Z1NAXpq7bgmB3ssigW3o4RF2GSMsL0wR4YPPiQc7V1ijfQKE%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
							strong от 78 398 руб. 7 ночей
						|  на человека
				.col-lg-12.col-md-12.col-sm-12
					a(href='https://www.coral.ru/hotels/turkey/papillon-belvil-hotel-belek/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%224IMRZdHIxkL3VoNZjwcBNOxEjv%2bkLN6%2bgihwFGf57gNwautME98tBZCRPhfgzOPb%2fqVKm3pCj%2bm%2btZwDY%2f1A4hY%2fJt6s6SMDhwqf8TOyAHbmoCKRUqsQBJMeco4Z1NAXpq7bgmB3ssigW3o4RF2GSMsL0wR4YPPiQc7V1ijfQKE%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
						button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
.row.mt-3.mb-3
	.col-lg-4.col-md-4.col-sm-12.d-flex
		.card
			img.card-img-top.img-fluid(src='https://cdn.coral.ru/content/636505743324184555-cc61ad17.jpg' width='1600' height='900')
			.card-body
				h3(style='text-align: center;') BELLIS DELUXE HOTEL 5*
				ul
					li
						a(href='https://www.coral.ru/hotels/turkey/bellis-deluxe-hotel-belek/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22%2b%2bb69HqC%2fETA1ckPsWc39y0GwiqT01jMG7zwMvZb7iQwGN7R8A1TI04KCNt6GGdczt5mu3RF6Qi7YP1Zaq7HcAMwFlXQiJgZRiaxoJSA3BFlvevpVIjsL3PIvoo4HIApOW%2baHh%2b5MNKzJ1sAyh1kg4hPSdHLkP6Z1ofjZDjHzS0%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
							strong от 83 897 руб. 7 ночей
						|  на человека
				.col-lg-12.col-md-12.col-sm-12
					a(href='https://www.coral.ru/hotels/turkey/bellis-deluxe-hotel-belek/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22%2b%2bb69HqC%2fETA1ckPsWc39y0GwiqT01jMG7zwMvZb7iQwGN7R8A1TI04KCNt6GGdczt5mu3RF6Qi7YP1Zaq7HcAMwFlXQiJgZRiaxoJSA3BFlvevpVIjsL3PIvoo4HIApOW%2baHh%2b5MNKzJ1sAyh1kg4hPSdHLkP6Z1ofjZDjHzS0%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
						button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
	.col-lg-4.col-md-4.col-sm-12.d-flex
		.card
			img.card-img-top.img-fluid(src='https://content.coral.ru//resize/1600x900//media/image/1/983/637632415696938115.jpg')
			.card-body
				h3(style='text-align: center;') XANADU RESORT 5* Deluxe
				ul
					li
						a(href='https://www.coral.ru/hotels/turkey/xanadu-resort-belek/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22q41Ch7d9kfash55LJjm4jdFG%2fi55Tk%2fOgsJXWP2z%2fZzs%2b9RQ%2bE6olm1ZdD5tje4gXr54vitnzI3NOWyGbahH8YyvQU8mY5E3iR0mYs3b0F5R7rSnc76I4dNR5hv9PYgUOGVvOIlbnX%2bPq0SI30WDOA%3d%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
							strong от 87 295 руб. 7 ночей
						|  на человека
				.col-lg-12.col-md-12.col-sm-12
					a(href='https://www.coral.ru/hotels/turkey/xanadu-resort-belek/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22q41Ch7d9kfash55LJjm4jdFG%2fi55Tk%2fOgsJXWP2z%2fZzs%2b9RQ%2bE6olm1ZdD5tje4gXr54vitnzI3NOWyGbahH8YyvQU8mY5E3iR0mYs3b0F5R7rSnc76I4dNR5hv9PYgUOGVvOIlbnX%2bPq0SI30WDOA%3d%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
						button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
	.col-lg-4.col-md-4.col-sm-12.d-flex
		.card
			img.card-img-top.img-fluid(src='https://content.coral.ru//resize/1600x900//media/image/1/982/636985331961129481.jpg')
			.card-body
				h3(style='text-align: center;') VOYAGE BELEK GOLF & SPA 5*
				ul
					li
						a(href='https://www.coral.ru/hotels/turkey/voyage-belek-golf-spa-belek/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22techFEdX10exXMOhAhe2XQ9tXdertOpfR06nm1I08XLChHPvv0xSat8HvbawgsLj67kboUnGlr572KO17Mochqx8aDCYkoqVIV1m%2f7%2fAqV6uLYhUMthwV2jnVPvmX1dYYWVuyxUP4dAt84Xj8glGP4Zws094g%2fx68o6JtrsZfnM%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
							strong от 95 131 руб. 7 ночей
						|  на человека
				.col-lg-12.col-md-12.col-sm-12
					a(href='https://www.coral.ru/hotels/turkey/voyage-belek-golf-spa-belek/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22techFEdX10exXMOhAhe2XQ9tXdertOpfR06nm1I08XLChHPvv0xSat8HvbawgsLj67kboUnGlr572KO17Mochqx8aDCYkoqVIV1m%2f7%2fAqV6uLYhUMthwV2jnVPvmX1dYYWVuyxUP4dAt84Xj8glGP4Zws094g%2fx68o6JtrsZfnM%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
						button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
.row.mt-3.mb-3
	.col-lg-4.col-md-4.col-sm-12.d-flex
		.card
			img.card-img-top.img-fluid(src='https://content.coral.ru//resize/800x600/media/image/1/957/637704228233189525.jpg')
			.card-body
				h3(style='text-align: center;')
					| GLORIA GOLF 
					br
					| RESORT 5* Deluxe
				ul
					li
						a(href='https://www.coral.ru/hotels/turkey/gloria-golf-resort-belek/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22mBcPi16t%2bNfWYKEeZUhdJ7PhMO7JUYLhHhIDa31OpHxrBYdgujjDQcO%2bj3Myw2Vcue%2fEPPREnuv58fJGLhVeo%2f2mklFXJWRE13QJSz7ud76RMt2AAOg298ufPYVhttzavrsAhWCxtnlnNxadQW4HYjIu9ELg6YtP3aWQTe9lioo%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
							strong от 101 211 руб. 7 ночей
						|  на человека
				.col-lg-12.col-md-12.col-sm-12
					a(href='https://www.coral.ru/hotels/turkey/gloria-golf-resort-belek/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22mBcPi16t%2bNfWYKEeZUhdJ7PhMO7JUYLhHhIDa31OpHxrBYdgujjDQcO%2bj3Myw2Vcue%2fEPPREnuv58fJGLhVeo%2f2mklFXJWRE13QJSz7ud76RMt2AAOg298ufPYVhttzavrsAhWCxtnlnNxadQW4HYjIu9ELg6YtP3aWQTe9lioo%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
						button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
	.col-lg-4.col-md-4.col-sm-12.d-flex
		.card
			img.card-img-top.img-fluid(src='https://cdn.coral.ru/content/img/637782289277937977(1).jpg' width='800' height='600')
			.card-body
				h3(style='text-align: center;')
					| CULLINAN 
					br
					| BELEK 5*
				ul
					li
						a(href='https://www.coral.ru/hotels/turkey/cullinan-belek-belek/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22U3wcxFwnl7HkTquYCYf%2bhnlFDZjHreisBTRpAo%2bRQpJuOqFv7XADNvOHP7m0VApPaVoOHtAqtnx90HgYxO9j%2fuuuynkf4y%2bHsyFvW2aD88CP5%2bcE2FxJU7E8clPEfPycPyBp6EMsRwppvX1yMM%2fJJeH95SBWBS9aA6y%2f%2fuKltEA%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
							strong от 119 049 руб. 7 ночей
						|  на человека
				.col-lg-12.col-md-12.col-sm-12
					a(href='https://www.coral.ru/hotels/turkey/cullinan-belek-belek/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22U3wcxFwnl7HkTquYCYf%2bhnlFDZjHreisBTRpAo%2bRQpJuOqFv7XADNvOHP7m0VApPaVoOHtAqtnx90HgYxO9j%2fuuuynkf4y%2bHsyFvW2aD88CP5%2bcE2FxJU7E8clPEfPycPyBp6EMsRwppvX1yMM%2fJJeH95SBWBS9aA6y%2f%2fuKltEA%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
						button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
	.col-lg-4.col-md-4.col-sm-12.d-flex
		.card
			img.card-img-top.img-fluid(src='https://content.coral.ru//resize/1600x900//media/image/1/4305/637475362398676104.JPG')
			.card-body
				h3(style='text-align: center;')
					| MAXX ROYAL BELEK GOLF 
					br
					| RESORT 5* Deluxe
				ul
					li
						a(href='https://www.coral.ru/hotels/turkey/maxx-royal-belek-golf-resort-belek/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22%2fHMf%2fnxL7bm3wNtY46azeah8xEkyOOi7jrIAL%2ff9apJ5pGJkN%2fAyQAL%2bgp%2fxjPme4XR9yW%2fGyE1wDHU67qXH5hsbrlBO6SkA5robN1ZdCvcQPo5gtA0%2bSUvPm8nYISEokNPoh9eYlQ%2f5G%2fl4FnpQf7pw7tID9fL7mr8CeNV29nY%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
							strong от 145 350 руб. 7 ночей
						|  на человека
				.col-lg-12.col-md-12.col-sm-12
					a(href='https://www.coral.ru/hotels/turkey/maxx-royal-belek-golf-resort-belek/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22%2fHMf%2fnxL7bm3wNtY46azeah8xEkyOOi7jrIAL%2ff9apJ5pGJkN%2fAyQAL%2bgp%2fxjPme4XR9yW%2fGyE1wDHU67qXH5hsbrlBO6SkA5robN1ZdCvcQPo5gtA0%2bSUvPm8nYISEokNPoh9eYlQ%2f5G%2fl4FnpQf7pw7tID9fL7mr8CeNV29nY%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
						button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
h2 Кемер
.row.mt-3.mb-3
	.col-lg-4.col-md-4.col-sm-12.d-flex
		.card
			img.card-img-top.img-fluid(src='https://cdn.coral.ru/content/img/637327636726056164(1).jpg' width='1600' height='900')
			.card-body
				h3(style='text-align: center;') ULUSOY KEMER HOLIDAY CLUB 5*HV
				ul
					li
						a(href='https://www.coral.ru/hotels/turkey/ulusoy-kemer-holiday-club-kemer/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22b18ndfTKFHFu2SwRyYaqud3iv1uNjqibU%2bks%2fwdKdy%2f0WJkmJo9ZYjFuVK921RzrwPdB7Ob4KqRmWu2Klo1gAwx%2blTzhmLlq%2fiIUcXUBHNfF1jSnH3lUL3aZMqcHSy36%2fbXkWAlfwD5M6bLYOQGkXXZbGGjHlIx1KMPoixGxsJc%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
							strong от 54 582 руб. 7 ночей
						|  на человека
				.col-lg-12.col-md-12.col-sm-12
					a(href='https://www.coral.ru/hotels/turkey/ulusoy-kemer-holiday-club-kemer/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22b18ndfTKFHFu2SwRyYaqud3iv1uNjqibU%2bks%2fwdKdy%2f0WJkmJo9ZYjFuVK921RzrwPdB7Ob4KqRmWu2Klo1gAwx%2blTzhmLlq%2fiIUcXUBHNfF1jSnH3lUL3aZMqcHSy36%2fbXkWAlfwD5M6bLYOQGkXXZbGGjHlIx1KMPoixGxsJc%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
						button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
	.col-lg-4.col-md-4.col-sm-12.d-flex
		.card
			img.card-img-top.img-fluid(src='https://content.coral.ru//resize/1600x900//media/image/1/709/637388102305031697.jpg' width='800' height='600')
			.card-body
				h3(style='text-align: center;') SAILORS BEACH CLUB 5*
				ul
					li
						a(href='https://www.coral.ru/hotels/turkey/sailors-beach-club-kemer/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22yZr%2beCPthUFkZ63IKTyTgKLESOQYBZctzCrPoc4b7gI3Plpf4vViYpWzndPMHhh4%2f9TLnTUUB7honqJIrR1JaY9UzFitNk3%2bd7yXFY%2bC6agitHJ17nVGqoqFeH9H71vfcY5TrIPJ4o72z%2fYpVvE%2bFTegs08vGPe0U6wqiQA8Ef0%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
							strong от 55 149 руб. 7 ночей
						|  на человека
				.col-lg-12.col-md-12.col-sm-12
					a(href='https://www.coral.ru/hotels/turkey/sailors-beach-club-kemer/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22yZr%2beCPthUFkZ63IKTyTgKLESOQYBZctzCrPoc4b7gI3Plpf4vViYpWzndPMHhh4%2f9TLnTUUB7honqJIrR1JaY9UzFitNk3%2bd7yXFY%2bC6agitHJ17nVGqoqFeH9H71vfcY5TrIPJ4o72z%2fYpVvE%2bFTegs08vGPe0U6wqiQA8Ef0%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
						button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
	.col-lg-4.col-md-4.col-sm-12.d-flex
		.card
			img.card-img-top.img-fluid(src='https://content.coral.ru//resize/1600x900//media/image/1/15801/637789579831971450.jpg')
			.card-body
				h3(style='text-align: center;') QUEENS PARK RAI PREMIUM TEKIROVA 5*
				ul
					li
						a(href='https://www.coral.ru/hotels/turkey/queens-park-rai-premium-tekirova-kemer/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22XIN9MD3btkUY7o48joSVxI8q%2fS9L4s8fRs%2fj%2f8EjyW0elOhYW4enutBe3s744vaZd%2b4LFf3xzCztKdJYCsuu%2bb4DUq5ZWLIxOml9C8JwwJeurQotCFztEkY4BOvqtPoP9uiuvTsZY4%2fH27WVsjLaRcya4SZ%2fbqUu1f6sohhYSixS%2flrwDzGZol1boAmSxVu2%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
							strong от 61 150 руб. 7 ночей
						|  на человека
				.col-lg-12.col-md-12.col-sm-12
					a(href='https://www.coral.ru/hotels/turkey/queens-park-rai-premium-tekirova-kemer/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22XIN9MD3btkUY7o48joSVxI8q%2fS9L4s8fRs%2fj%2f8EjyW0elOhYW4enutBe3s744vaZd%2b4LFf3xzCztKdJYCsuu%2bb4DUq5ZWLIxOml9C8JwwJeurQotCFztEkY4BOvqtPoP9uiuvTsZY4%2fH27WVsjLaRcya4SZ%2fbqUu1f6sohhYSixS%2flrwDzGZol1boAmSxVu2%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
						button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
.row.mt-3.mb-3
	.col-lg-4.col-md-4.col-sm-12.d-flex
		.card
			img.card-img-top.img-fluid(src='https://content.coral.ru//resize/1600x900//media/image/1/13570/636622492123715684.jpg')
			.card-body
				h3(style='text-align: center;') ALVA DONNA WORLD PALACE 5*
				ul
					li
						a(href='https://www.coral.ru/hotels/turkey/alva-donna-world-palace-kemer/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22ScU52cipBNqI%2b7d5URgSCnR%2b1ttZ5C8ET0NFpINih6f%2fQxPSZ18JbTn1VlN6ul2q7T%2b3rKQ654ygcJec767DzHDZfmbm3uy0Tku80AZOPqmMf3hI%2fPM69izRnksFcjAY1Okm92dddoAmy7iOSDNkpG%2fHRnYbrxdH%2fkSzM0FkYoI%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
							strong от 67 095 руб. 7 ночей
						|  на человека
				.col-lg-12.col-md-12.col-sm-12
					a(href='https://www.coral.ru/hotels/turkey/alva-donna-world-palace-kemer/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22ScU52cipBNqI%2b7d5URgSCnR%2b1ttZ5C8ET0NFpINih6f%2fQxPSZ18JbTn1VlN6ul2q7T%2b3rKQ654ygcJec767DzHDZfmbm3uy0Tku80AZOPqmMf3hI%2fPM69izRnksFcjAY1Okm92dddoAmy7iOSDNkpG%2fHRnYbrxdH%2fkSzM0FkYoI%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
						button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
	.col-lg-4.col-md-4.col-sm-12.d-flex
		.card
			img.card-img-top.img-fluid(src='https://content.coral.ru//resize/1600x900//media/image/1/33799/637731720855675672.jpg' width='800' height='600')
			.card-body
				h3(style='text-align: center;') NG PHASELIS BAY 5*
				ul
					li
						a(href='https://www.coral.ru/hotels/turkey/ng-phaselis-bay-kemer/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22oplwayQBob2EcGO%2f7NDw5JtrI3S%2fB11xgiS28p4pty%2b51c9vs85Mm9bzz7QIFomf37RtytHibLwInft%2brvNjg%2bdSl1wQCouOMePL%2bLNfOSBwEjenoV5bBSkx1pTdOSuyUcn3fCCmBkvYqKqkAn6p2w%3d%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
							strong от 114 533 руб. 7 ночей
						|  на человека
				.col-lg-12.col-md-12.col-sm-12
					a(href='https://www.coral.ru/hotels/turkey/ng-phaselis-bay-kemer/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22oplwayQBob2EcGO%2f7NDw5JtrI3S%2fB11xgiS28p4pty%2b51c9vs85Mm9bzz7QIFomf37RtytHibLwInft%2brvNjg%2bdSl1wQCouOMePL%2bLNfOSBwEjenoV5bBSkx1pTdOSuyUcn3fCCmBkvYqKqkAn6p2w%3d%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
						button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
h2 Сиде
.row.mt-3.mb-3
	.col-lg-4.col-md-4.col-sm-12.d-flex
		.card
			img.card-img-top.img-fluid(src='https://cdn.coral.ru/content/img/636537081280835300.jpg' width='1180' height='818')
			.card-body
				h3(style='text-align: center;') STARLIGHT RESORT HOTEL 5*
				ul
					li
						a(href='https://www.coral.ru/hotels/turkey/starlight-resort-hotel-side/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22dpS2RRvim90342n6loQSdL9GwwmQl9ZU1K1Y5LvZexCxf6d6PFHWdWM8b5VWs1qg%2bEbrOTok10laKdirjIr2FCm4LlmXHiEaZhhlQRF6RqDzoLqAK%2bEk1tG1OE%2b63thqExmUoi9C9AzK5puI0lS41RpztuN2GttkAk0Q0mHgrvY%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
							strong от 57 034 руб. 7 ночей
						|  на человека
				.col-lg-12.col-md-12.col-sm-12
					a(href='https://www.coral.ru/hotels/turkey/starlight-resort-hotel-side/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22dpS2RRvim90342n6loQSdL9GwwmQl9ZU1K1Y5LvZexCxf6d6PFHWdWM8b5VWs1qg%2bEbrOTok10laKdirjIr2FCm4LlmXHiEaZhhlQRF6RqDzoLqAK%2bEk1tG1OE%2b63thqExmUoi9C9AzK5puI0lS41RpztuN2GttkAk0Q0mHgrvY%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
						button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
	.col-lg-4.col-md-4.col-sm-12.d-flex
		.card
			img.card-img-top.img-fluid(src='https://content.coral.ru//resize/1600x900//media/image/1/453/636580069001982849.jpg')
			.card-body
				h3(style='text-align: center;') OTIUM FAMILY ECO CLUB 5*
				ul
					li
						a(href='https://www.coral.ru/hotels/turkey/otium-family-eco-club-side/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22hWAYw7XnPY8C56UOVuK2SNPdHSSpcZi7bPJqNk5Om%2bklyTpElkr1vyLAdbdXGXhchS4jy35G73u%2bl%2f4neF4c66Pjm3DqClsxqFK%2fM0l01qt1%2f6NQGsQiNXxBtLkWrCsJhxDAF7nmqEP7dAm%2beGdvbAS2GicbO2AyBVmcfomxEq0%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
							strong от 57 845 руб. 7 ночей
						|  на человека
				.col-lg-12.col-md-12.col-sm-12
					a(href='https://www.coral.ru/hotels/turkey/otium-family-eco-club-side/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22hWAYw7XnPY8C56UOVuK2SNPdHSSpcZi7bPJqNk5Om%2bklyTpElkr1vyLAdbdXGXhchS4jy35G73u%2bl%2f4neF4c66Pjm3DqClsxqFK%2fM0l01qt1%2f6NQGsQiNXxBtLkWrCsJhxDAF7nmqEP7dAm%2beGdvbAS2GicbO2AyBVmcfomxEq0%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
						button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
	.col-lg-4.col-md-4.col-sm-12.d-flex
		.card
			img.card-img-top.img-fluid(src='https://cdn.coral.ru/content/img/636508361646693331(1).jpg' width='1180' height='818')
			.card-body
				h3(style='text-align: center;') KAMELYA AISHEN K CLUB 5*
				ul
					li
						a(href='https://www.coral.ru/hotels/turkey/kamelya-aishen-k-club-side/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22gijxmylipgLYpWlIfxABrkwI9seSSv%2f89ljnXyP6Rg2za6N1CpHc7UbsgYfdQp%2bwf%2fPsv3GhWOYxDrFQsPn0NVUZIH2fVuwyq%2bZXd3kkcOg5rL3MekvksP622s9jA%2bV8GQ2jNMopsGhED1SN9lKPGEaMMjUmrIDNMyzEG6n%2bq2g%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
							strong от 61 134 руб. 7 ночей
						|  на человека
				.col-lg-12.col-md-12.col-sm-12
					a(href='https://www.coral.ru/hotels/turkey/kamelya-aishen-k-club-side/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22gijxmylipgLYpWlIfxABrkwI9seSSv%2f89ljnXyP6Rg2za6N1CpHc7UbsgYfdQp%2bwf%2fPsv3GhWOYxDrFQsPn0NVUZIH2fVuwyq%2bZXd3kkcOg5rL3MekvksP622s9jA%2bV8GQ2jNMopsGhED1SN9lKPGEaMMjUmrIDNMyzEG6n%2bq2g%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
						button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
.row.mt-3.mb-3
	.col-lg-4.col-md-4.col-sm-12.d-flex
		.card
			img.card-img-top.img-fluid(src='https://content.coral.ru//resize/1600x900//media/image/1/455/637644502144445369.jpg')
			.card-body
				h3(style='text-align: center;') VOYAGE SORGUN 5*
				ul
					li
						a(href='https://www.coral.ru/hotels/turkey/voyage-sorgun-side/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%221N3ideAWmZK2bSBqCNdfoqvMsl8tVc9MP2X%2byGVJr9GPX5Wce6NTD6oQRBaFm7dpBOW%2b43Hj64J5CHTNfuaqTrjjtlYZES0QjWJxOTR%2fzjmL%2b3v6%2bo4TBEMDAa8e4bJSPsviHlGh2%2bNcMTPKlbNYxw%3d%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
							strong от 84 766 руб. 7 ночей
						|  на человека
				.col-lg-12.col-md-12.col-sm-12
					a(href='https://www.coral.ru/hotels/turkey/voyage-sorgun-side/?q=%7b%22Bgn%22%3a%2203.10.2022%22%2c%22End%22%3a%2209.10.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%221N3ideAWmZK2bSBqCNdfoqvMsl8tVc9MP2X%2byGVJr9GPX5Wce6NTD6oQRBaFm7dpBOW%2b43Hj64J5CHTNfuaqTrjjtlYZES0QjWJxOTR%2fzjmL%2b3v6%2bo4TBEMDAa8e4bJSPsviHlGh2%2bNcMTPKlbNYxw%3d%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d' target='_blank' rel='noopener')
						button.btn.btn.btn-outline-secondary.btn-lg.btn-block(type='button') КУПИТЬ ТУР
