include components/block-img-text/block-img-text
include components/benefits4/benefits4-temp
include components/benefits/benefits-temp
include components/banner/banner-temp
//- добавляем нужные блоки
.dm-site-wrap
	.dm-site-wrap__inner
		section.dm-section--benefits
			.dm-benefits
				.dm-benefits__desc
					//- .dm-text.dm-text--benefits Осенние каникулы&nbsp;&mdash; это прекрасный повод порадовать себя и&nbsp;своих детей полезным отдыхом в&nbsp;сочетании с&nbsp;насыщенной, развивающей и&nbsp;интересной программой. Можно отправиться загорать на&nbsp;белоснежные пляжи, исследовать яркие коралловые сады Красного моря, изучить традиции гостеприимства Востока, попробовать все турецкие сладости или попытаться посчитать все крыши в&nbsp;Санкт-Петербурге. Не&nbsp;упустите возможность отлично провести время с&nbsp;семьей! Забронируйте тур на&nbsp;осенние каникулы прямо сейчас!
					h2.dm-benefits__title2 Почему стоит отдохнуть в&nbsp;Таиланде?
				.dm-benefits__items
					.dm-benefits__item
						.dm-benefits__img-wrap
							.dm-benefits__img.dm-benefits__img--1
						.dm-benefits__title Широкая полетная#[br]программа
					.dm-benefits__item
						.dm-benefits__img-wrap
							.dm-benefits__img.dm-benefits__img--2
						.dm-benefits__title Лето#[br]круглый год
					.dm-benefits__item
						.dm-benefits__img-wrap
							.dm-benefits__img.dm-benefits__img--3
						.dm-benefits__title Белоснежные#[br]пляжи
					.dm-benefits__item
						.dm-benefits__img-wrap
							.dm-benefits__img.dm-benefits__img--4
						.dm-benefits__title Экзотическая#[br]природа
					.dm-benefits__item
						.dm-benefits__img-wrap
							.dm-benefits__img.dm-benefits__img--5
						.dm-benefits__title Лучшие#[br]курорты в мире
					.dm-benefits__item
						.dm-benefits__img-wrap
							.dm-benefits__img.dm-benefits__img--6
						.dm-benefits__title Шопинг
					.dm-benefits__item
						.dm-benefits__img-wrap
							.dm-benefits__img.dm-benefits__img--7
						.dm-benefits__title Буддийские#[br]храмы

				.dm-benefits__btn-wrap
					//- a.dm-benefits4__btn.dm-btn.dm-btn--js(href="#pattayya" target="_blank") Выбрать тур
					a.dm-benefits4__btn.dm-btn(href="https://www.coral.ru/packagetours/moskva-to-tailand-tours/?q=%7b%22Bgn%22%3a%2221.11.2022%22%2c%22End%22%3a%2227.11.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%2c10%2c13%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22glvG3qrY%2bA7L2gyMjCyuDZoDQl1U4AglL%2brZbLAl%2fjLDb7%2b1a7oXjH9xGjs7CkqmMtaVP0E83IHkbWpqkYhE%2bDspcQlm996ubxJybDx3ZzQAasouwSthQ96DHuOFzX2deFF6pCxHe18zFA7A%2bgH5qA%3d%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3afalse%2c%22Rglr%22%3atrue%2c%22Srt%22%3a1%7d&f={%22Rh%22:false,%22Ao%22:[%22available%22]}&page=1" target="_blank") Выбрать тур

.dm-site-wrap
	.dm-site-wrap__inner
		section.dm-section--benefits4
			h2.dm-benefits__title3 Где отдохнуть с ребенком?
			br
			br
			+benefits4({
				'title': '',
				'text': '',
				'items':[
					{
						'title': 'Паттайя',
						'text': 'Паттайя – это курорт, расположенный на юго-востоке страны,  на побережье Сиамского залива. Паттайя считается тайской столицей развлечений! Здесь находятся тысячи клубов, баров и ресторанов, поэтому этот город идеально подойдет для молодежи. Но, несмотря на это, курорт также понравится и влюбленным парам, и семьям с детьми. В Паттайе есть шикарные белоснежные пляжи, буддийские храмы и увлекательные экскурсии. Также город отличается от других курортов демократичными ценами и близким расположением от Бангкока.',
						'img': './img/content/coral/city-1.jpg',
						'link': 'https://www.coral.ru/packagetours/moskva-to-pattayyapattaya-tours/?q=%7b%22Bgn%22%3a%2214.11.2022%22%2c%22End%22%3a%2220.11.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%2c8%2c9%2c10%2c11%2c12%2c13%2c14%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22lSOkY98cmljdkhm63LroANC7rs33UxZkG0eVyqSkIrE8mVc7%2b9u3lT0q%2fOJj9CbjsDm3s0pT68UK4tY8d5ccgI1icL4Rc0OeOLng6qF44rkXae6l28aI8pu3sh34FNwKDfXd6apS83WhZejLhtC7gSTKulDU%2baxaT0xQImm%2fp%2fU%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3afalse%2c%22Rglr%22%3atrue%2c%22Srt%22%3a1%7d&f={%22Rh%22:false,%22Ao%22:[%22available%22]}&page=1',
					},
					{
						'title': 'Районг',
						'text': 'Районг – это провинция в восточной части Таиланда. Курорт привлекает туристов широкими белоснежными пляжами, отелями на любой вкус и кошелёк, пышными джунглями, коралловыми рифами, удивительной статуей лежащего Будды и еще тысячей других удивительных достопримечательностей. Отдых в Районге понравится тем, кто предпочитает ленивый пляжный отдых, занятия йогой и медитацией.',
						'img': './img/content/coral/city-2.jpg',
						'link': 'https://www.coral.ru/packagetours/moskva-to-rayongrayong-tours/?q=%7b%22Bgn%22%3a%2214.11.2022%22%2c%22End%22%3a%2220.11.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%2c8%2c9%2c10%2c11%2c12%2c13%2c14%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22rzxzGRzOF72ElA8yM4v2bA5mdu8ZpGiPNgYVRLXCqW%2fqSnmMyJxNuUIgLE1WZClDGf2nBnbTaPGeXqvEqzKP%2bt2ZxF7AJMg6f%2bqpZisOwPtrUfXEsKqTeG%2b4rGP9X%2bSESldKdjOqyRRL8iCL%2fUGi0NZlMC%2fJOslHhA6HMwgRND4%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3afalse%2c%22Rglr%22%3atrue%2c%22Srt%22%3a1%7d&f={%22Rh%22:false,%22Ao%22:[%22available%22]}&page=1',
					},
					{
						'title': 'Ко Чанг',
						'text': 'Ко Чанг – это один из самых больших островов Таиланда. Почти вся территория острова покрыта джунглями               и мангровыми деревьями. На этом острове обитает большое количество редких видов животных и растений.  А еще здесь самые лучшие белоснежные пляжи                       и удивительные водопады. Отдых на Ко Чанг придется        по душе тем, кто ищет уединение и спокойствие вдали     от шума.',
						'img': './img/content/coral/city-3.jpg',
						'link': 'https://www.coral.ru/packagetours/moskva-to-okochangkohchang-tours/?q=%7b%22Bgn%22%3a%2214.11.2022%22%2c%22End%22%3a%2220.11.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%2c8%2c9%2c10%2c11%2c12%2c13%2c14%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22wpDKw51jhY634QkhAx5RWvYNhsW8QBjZzWc%2fsrNVBHqzvC6Xj3%2bhDK14AChWVaxgpZHd6M5%2f3RKWy%2bHvgowcfNPyECfn%2bjguj1NUL9X%2bAlkzHEGtKoz6vwOzLlDuztExN6ynZ5Hb1Rn2CaYl6Y6ss%2bxpWaRcEar3TV9Agb7yz0A%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3afalse%2c%22Rglr%22%3atrue%2c%22Srt%22%3a1%7d&f={%22Rh%22:false,%22Ao%22:[%22available%22]}&page=1',
					},
				],
			})

.dm-site-wrap.dm-font-size-unset
	.dm-site-wrap__inner.dm-font-size-unset
		section.dm-section--benefits4
	//- include components/temp/coral.html

//- section.dm-section--banner
//- 	+banner({
//- 		'title':'Осень и зима – отличное<br />время для экскурсий<br />и развлечений',
//- 		'text':'Устройте себе яркий отдых в ОАЭ!',
//- 		'img_lg':'./img/content/coral/banner-lg.jpg',
//- 		'img_sm':'./img/content/coral/banner-sm.jpg',
//- 		'alt':'Осень и зима – отличное время для экскурсий и развлечений',
//- 		'link':'https://www.coral.ru/main/uae/uaeexcursion/',
//- 		'btn_title':'Подробнее',
//- 	})

//- section.dm-section--banner2
//- 	+banner({
//- 		'title':'Отдыхать в ОАЭ<br />комфортнее вместе<br />с пакетами услуг',
//- 		'text':'Позвольте себе больше!',
//- 		'img_lg':'./img/content/coral/banner-2-lg.jpg',
//- 		'img_sm':'./img/content/coral/banner-2-sm.jpg',
//- 		'alt':'Отдыхать в ОАЭ комфортнее вместе с пакетами услуг',
//- 		'link':'https://www.coral.ru/poleznaya-informatsiya/hotels-service-packages/',
//- 		'btn_title':'Подробнее',
//- 	})
//- .dm-site-wrap
	.dm-site-wrap__inner
		.dm-bottom
			.dm-bottom__left
				include components/share/share-coral
			.dm-bottom__right
				include components/contact/contact-coral

link(rel="stylesheet" href='./styles/coral.reset.css')
link(rel="stylesheet" href='./styles/main_coral.css')
script(src="./js/main_coral.js")