include components/block-img-text/block-img-text
include components/benefits4/benefits4-temp
include components/benefits/benefits-temp
include components/banner/banner-temp
//- добавляем нужные блоки

section.dm-site-wrap2
	.dm-site-wrap__inner2
		.dm-block
			.dm-block__text Таиланд&nbsp;&mdash; это страна тысячи храмов и&nbsp;тысячи улыбок, страна яркого солнца, широких пляжей и&nbsp;приветливых местных жителей. Туристов привлекает потрясающая воображение природа, неповторимая тайская кухня, экзотические фрукты и&nbsp;богатое духовное и&nbsp;культурное наследие. Здесь круглый год тепло! Если вы&nbsp;ищите приключения, но&nbsp;при этом для вас важен комфорт и&nbsp;высокий уровень обслуживания&nbsp;&mdash; это страна для вас!

section.dm-site-wrap2
	.dm-site-wrap__inner2
		.dm-section--benefits
			.dm-benefits
				.dm-benefits__desc
					//- .dm-text.dm-text--benefits Осенние каникулы&nbsp;&mdash; это прекрасный повод порадовать себя и&nbsp;своих детей полезным отдыхом в&nbsp;сочетании с&nbsp;насыщенной, развивающей и&nbsp;интересной программой. Можно отправиться загорать на&nbsp;белоснежные пляжи, исследовать яркие коралловые сады Красного моря, изучить традиции гостеприимства Востока, попробовать все турецкие сладости или попытаться посчитать все крыши в&nbsp;Санкт-Петербурге. Не&nbsp;упустите возможность отлично провести время с&nbsp;семьей! Забронируйте тур на&nbsp;осенние каникулы прямо сейчас!
					h2.dm-benefits__title2 Почему стоит отдохнуть в&nbsp;Таиланде?
				.dm-benefits__items
					.dm-benefits__item
						.dm-benefits__img-wrap
							.dm-benefits__img.dm-benefits__img--1
						.dm-benefits__title Широкая полетная#[br]программа
					.dm-benefits__item
						.dm-benefits__img-wrap
							.dm-benefits__img.dm-benefits__img--2
						.dm-benefits__title Лето#[br]круглый год
					.dm-benefits__item
						.dm-benefits__img-wrap
							.dm-benefits__img.dm-benefits__img--3
						.dm-benefits__title Белоснежные#[br]пляжи
					.dm-benefits__item
						.dm-benefits__img-wrap
							.dm-benefits__img.dm-benefits__img--4
						.dm-benefits__title Экзотическая#[br]природа
					.dm-benefits__item
						.dm-benefits__img-wrap
							.dm-benefits__img.dm-benefits__img--5
						.dm-benefits__title Лучшие#[br]курорты в мире
					.dm-benefits__item
						.dm-benefits__img-wrap
							.dm-benefits__img.dm-benefits__img--6
						.dm-benefits__title Шопинг
					.dm-benefits__item
						.dm-benefits__img-wrap
							.dm-benefits__img.dm-benefits__img--7
						.dm-benefits__title Буддийские#[br]храмы

				.dm-benefits__btn-wrap
					//- a.dm-benefits4__btn.dm-btn.dm-btn--js(href="#pattayya" target="_blank") Выбрать тур
					a.dm-benefits4__btn.dm-btn(href="https://www.coral.ru/packagetours/moskva-to-tailand-tours/?q=%7b%22Bgn%22%3a%2221.11.2022%22%2c%22End%22%3a%2221.11.2022%22%2c%22Dr%22%3a%220%22%2c%22Acc%22%3a%2214%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22R6U30VRkBarm7NJyIxCpDKp0gPHE%2bIFpkOdpFEXrA9niw1iKD1KfwRzg8tnlZlz35N9gm39gxHnFE%2be5Fo%2f7%2fPVx1xu%2faTbIEtUMJ1x7tBA3hCCiu6h%2bIDdUjKMg%2bNRuFXtF%2f4G2WS7V4EwfurtTnw%3d%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d&f={%22Rh%22:false,%22Ao%22:[%22available%22]}&page=1" target="_blank") Выбрать тур

section.dm-site-wrap2
	.dm-site-wrap__inner2
		.dm-section--benefits4
			h2.dm-tabs__header Какой курорт выбрать?
			.dm-tabs
				.dm-tab__headers
					.dm-tab__title.selected(data-show="Паттайя") Паттайя
					.dm-tab__title(data-show="Пхукет") Пхукет

				.dm-tab__items
					.dm-tab__body(data-content-for="Паттайя")
						+benefits4({
							'title': '',
							'text': '',
							'items':[
								{
									'title': 'Паттайя',
									'text': 'Паттайя – это курорт, расположенный на юго-востоке страны,  на побережье Сиамского залива. Паттайя считается тайской столицей развлечений! Здесь находятся тысячи клубов, баров и ресторанов, поэтому этот город идеально подойдет для молодежи. Но, несмотря на это, курорт также понравится и влюбленным парам, и семьям с детьми. В Паттайе есть шикарные белоснежные пляжи, буддийские храмы и увлекательные экскурсии. Также город отличается от других курортов демократичными ценами и близким расположением от Бангкока.',
									'img': './img/content/coral/city-1.jpg',
									'link': 'https://www.coral.ru/packagetours/moskva-to-pattayya-tours/?q=%7b%22Bgn%22%3a%2222.11.2022%22%2c%22End%22%3a%2222.11.2022%22%2c%22Dr%22%3a%220%22%2c%22Acc%22%3a%227%2c10%2c14%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22KfLXL4epSPyhQ95GyRSlClCfNJPwerQf%2fMdfNQh5vfHZ152mgH9qU%2f6bQxaSLEY9JGJnqLQu%2f6RM8fNp3923kyVuJipvtf6UXRodMqYsfUvrMuD8wKykphr0Za%2fisP2JmznQKPtWey92%2fCnOgil%2bjg%3d%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d&f=%7b%22Rh%22:false,%22Ao%22:%5b%22available%22%5d%7d&page=1',
								},
								{
									'title': 'Районг',
									'text': 'Районг – это провинция в восточной части Таиланда. Курорт привлекает туристов широкими белоснежными пляжами, отелями на любой вкус и кошелёк, пышными джунглями, коралловыми рифами, удивительной статуей лежащего Будды и еще тысячей других удивительных достопримечательностей. Отдых в Районге понравится тем, кто предпочитает ленивый пляжный отдых, занятия йогой и медитацией.',
									'img': './img/content/coral/city-2.jpg',
									'link': 'https://www.coral.ru/packagetours/moskva-to-rayong-tours/?q=%7b%22Bgn%22%3a%2222.11.2022%22%2c%22End%22%3a%2222.11.2022%22%2c%22Dr%22%3a%220%22%2c%22Acc%22%3a%227%2c10%2c14%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22zBRB5WDwYqJiVJaJvxQJjbYqCu9KmkFGYK9ga9EieDL2Rp3mpS%2fWGTbooDY2GKaNTEPkxIHglAceqG9%2bcuTzRG5XCUBxPiM6zJOXAYWxCXa9gJT9ceDHIjuV1jUc%2fI2XVga8MWRAiEJwFP7MervsqA%3d%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d&f=%7b%22Rh%22:false,%22Ao%22:%5b%22available%22%5d%7d&page=1',
								},
								{
									'title': 'Ко Чанг',
									'text': 'Ко Чанг – это один из самых больших островов Таиланда. Почти вся территория острова покрыта джунглями               и мангровыми деревьями. На этом острове обитает большое количество редких видов животных и растений.  А еще здесь самые лучшие белоснежные пляжи                       и удивительные водопады. Отдых на Ко Чанг придется        по душе тем, кто ищет уединение и спокойствие вдали     от шума.',
									'img': './img/content/coral/city-3.jpg',
									'link': 'https://www.coral.ru/packagetours/moskva-to-okochangregion-tours/?q=%7b%22Bgn%22%3a%2222.11.2022%22%2c%22End%22%3a%2222.11.2022%22%2c%22Dr%22%3a%220%22%2c%22Acc%22%3a%227%2c10%2c14%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22z3mZ71c497pmSqGIdIyphs1zHqEItcwZoh9mfyG%2fl4Na8ZSIZ0JfSCaOXu38bPGH7jVnzuOMV%2f7dZCJAh69sEi93H4AyeoBCbIymJ2Z1WvMnM5trTFzStFBUIvl3l3UTI%2ft6e71Q5tkIdZ0hhEzo%2faYiWnB21AMjVN4IkpK%2b1ok%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d&f=%7b%22Rh%22:false,%22Ao%22:%5b%22available%22%5d%7d&page=1',
								},
								{
									'title': 'На-Джомтьен',
									'text': 'На-Джомтьен&nbsp;&mdash; это тихий курорт, недалеко от&nbsp;Паттайи. Главное достоинство этого места&nbsp;&mdash; отсутствие дорог между отелями и&nbsp;пляжами, поэтому здесь тише. Инфраструктура хорошо развита: есть отличные пляжи, рестораны, бары, массажные салоны и&nbsp;магазины. Отдых в&nbsp;На-Джомтьене понравится тем, кто ценит комфорт и&nbsp;уединение. Курорт прекрасно подойдет для семейного отдыха.',
									'img': './img/content/coral/city-4.jpg',
									'link': 'https://www.coral.ru/packagetours/moskva-to-nadzhomtyen-tours/?q=%7b%22Bgn%22%3a%2222.11.2022%22%2c%22End%22%3a%2222.11.2022%22%2c%22Dr%22%3a%220%22%2c%22Acc%22%3a%227%2c10%2c14%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%228BGYbOrveQWLzZQOumKPWnJWbwUr6xv8wS3LOOIS452FKUwkPrPOYbIvZ9NsIdBi0a9l8rUX1mGEUQm220KvgHB53I97lzT2V86uv3KEaGF%2b4r1uBdFxoELXcX1NwPjszOuOwuQb4%2fZziXJXkj2dsb3kmCInbuzTljhKCjhaeBA%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d&f=%7b%22Rh%22:false,%22Ao%22:%5b%22available%22%5d%7d&page=1',
								},
							],
						})
						h2.dm-benefits6__title2(style="margin-bottom: 1.5em;") РЕКОМЕНДУЕМЫЕ ОТЕЛИ
						div(style="font-size: 14px;")
							include components/temp/1.html
					.dm-tab__body(data-content-for="Пхукет" style="display: none;")
						+benefits4({
							'title': '',
							'text': '',
							'items':[
								{
									'title': 'Пхукет',
									'text': 'Пхукет по&nbsp;праву носит название &laquo;пляжной столицы Таиланда&raquo;. Здесь находятся райские уголки с&nbsp;золотистым песком, высокие кокосовые пальмы, теплое море, ласковое солнце круглый год и&nbsp;живописные виды на&nbsp;горы. Инфраструктура острова отлично развита: есть отели на&nbsp;любой бюджет, огромные торговые центры, бары, ночные клубы, дискотеки, сувенирные магазины. Отдых на&nbsp;Пхукете понравится всем туристам!',
									'img': './img/content/coral/city-5.jpg',
									'link': 'https://www.coral.ru/packagetours/moskva-to-ophuketphuket-tours/?q=%7b%22Bgn%22%3a%2221.11.2022%22%2c%22End%22%3a%2221.11.2022%22%2c%22Dr%22%3a%220%22%2c%22Acc%22%3a%2214%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22xqbZk4JtulLLM8bD68bdp0JCVrgvZNBFUUQvkEERcES4Ka4Po4kuO%2f8n39R8VHnzFmElDHEpqf%2fIQ43%2fCuOvIALZEtTWXd6pXu%2fEOlRssjxpCOQbr0ooMpC6plgQKUh4NTJ1dpPIEwcCcgt5RQuqD7eGrfVwDGvyRyeLNQ7nsxs%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d&f={%22Rh%22:false,%22Ao%22:[%22available%22]}&page=1',
								},
								{
									'title': 'Краби',
									'text': 'Краби&nbsp;&mdash; это прибрежная провинция на&nbsp;юго-западе Таиланда. На&nbsp;курорте есть все удобства для превосходного отдыха: отели самых разных категорий, рестораны, бары, оздоровительные центры, ночные рынки и&nbsp;национальные парки. Природа Краби восхищает и&nbsp;очаровывает: широкие пляжи, известняковые скалы и&nbsp;пещеры, утесы с&nbsp;пальмовыми рощами. Отдыхать на&nbsp;Краби&nbsp;&mdash; одно удовольствие!',
									'img': './img/content/coral/city-6.jpg',
									'link': 'https://www.coral.ru/packagetours/moskva-to-krabikrabi-tours/?q=%7b%22Bgn%22%3a%2221.11.2022%22%2c%22End%22%3a%2221.11.2022%22%2c%22Dr%22%3a%220%22%2c%22Acc%22%3a%2214%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22uc8fv%2fgleRnsfbWYHi1m%2fFG1Ui962RzzN7fiW3YY8dOPVZCT9slgLsk9ETVd1455kW3zgYvsIzFn3p2qKE%2bg9dwVpOllsJfFLdu8qok381otOdeMV24FfJD0lmT6%2b2C59EelaORAQ0kkcxYQ75e%2fOM60I9gTh4A2vT%2fkCTgiRMg%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d&f={%22Rh%22:false,%22Ao%22:[%22available%22]}&page=1',
								},
								{
									'title': 'Самуи',
									'text': 'Самуи&nbsp;&mdash; это золотистые пляжи, кокосовые пальмы, живописные водопады&nbsp;и, конечно&nbsp;же, вечное лето! Главное отличие Самуи от&nbsp;других курортов Таиланда&nbsp;&mdash; это отсутствие сильных волн на&nbsp;море, что удобно для отдыхающих с&nbsp;маленьким детьми и&nbsp;туристов старшего поколения. Выбирая Самуи, будьте внимательны, самый дождливый период&nbsp;&mdash; с&nbsp;декабря по&nbsp;январь.',
									'img': './img/content/coral/city-7.jpg',
									'link': 'https://www.coral.ru/packagetours/moskva-to-osamuikohsamui-tours/?q=%7b%22Bgn%22%3a%2221.11.2022%22%2c%22End%22%3a%2221.11.2022%22%2c%22Dr%22%3a%220%22%2c%22Acc%22%3a%2214%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22YNAG5GYcRVQ%2f6RAIYfaySnB2vWzxzH4FqA8oferY3g5w%2b%2bL2Xr9WBOG6y02P28SisOLwKRFFiQcN0bR4DzMmYVhavnXgMXfmtT66oeAku7JazF%2fateBvMi8%2fPaQqmk3z2TwcSW0C6v9piS8LZKAcHDIbZoHCWNen4u9UFAor6xc%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d&f={%22Rh%22:false,%22Ao%22:[%22available%22]}&page=1',
								},
								{
									'title': 'Као Лак',
									'text': 'Као Лак&nbsp;&mdash; это курорт провинции Пханг Нга, находящийся недалеко от&nbsp;Пхукета. Као Лак привлекает внимание туристов своими пляжами и&nbsp;высоким уровнем сервиса. Почти все отели курорта имеют большую и&nbsp;хорошо развитую территорию. Поэтому этот курорт прекрасно подойдет для семейного отдыха.',
									'img': './img/content/coral/city-8.jpg',
									'link': 'https://www.coral.ru/packagetours/moskva-to-kaolakkhaolak-tours/?q=%7b%22Bgn%22%3a%2221.11.2022%22%2c%22End%22%3a%2221.11.2022%22%2c%22Dr%22%3a%220%22%2c%22Acc%22%3a%2214%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22zMCTXVTUSr7ZBOUGME8WuEdo%2bpQXYMoMrBON9eW0b%2fBE6%2fb8adZ94cHeCNKg9nUDDljMrLLXjcFdn435vBm2ndYjqC0atv%2bMWiy3goeY17yOItlm1XPubi2ktmmCd%2b2cjpbG7iJxQwYAlxlV5MuE2qe4AuGsrKHhC7IL%2bf7%2fBTY%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d&f={%22Rh%22:false,%22Ao%22:[%22available%22]}&page=1',
								},
							],
						})
						h2.dm-benefits6__title2(style="margin-bottom: 1.5em;") РЕКОМЕНДУЕМЫЕ ОТЕЛИ
						div(style="font-size: 14px;")
							include components/temp/2.html

//- section.dm-site-wrap2.dm-font-size-unset
//- 	.dm-site-wrap__inner2.dm-font-size-unset
//- 		h2.dm-benefits__title2(style="margin-bottom: 1.5em;") РЕКОМЕНДУЕМЫЕ ОТЕЛИ
//- 		include components/temp/coral.html

section.dm-site-wrap2
	.dm-site-wrap__inner2
		.dm-intresting
			h2.dm-intresting__header Интересное в Таиланде
			.dm-intresting__items
				.dm-intresting__item
					.dm-intresting__img-wrap
						img.dm-intresting__img(src="./img/content/coral/int-1.jpg", alt="Большой Будда на горе Накакед")
					.dm-intresting__title Большой Будда на горе Накакед
					.dm-intresting__text 45-метровая статую из белого мрамора. Ее видно с любой точки Пхукета. Согласно легенде, гора была домом для гигантского змея Наги — символа мудрости у буддистов. Сегодня, чтобы попасть сюда необходимо пару часов подниматься в гору пешком или нанять водителя на тук-туке (небольшая трехколесная машина). 
				.dm-intresting__item
					.dm-intresting__img-wrap
						img.dm-intresting__img(src="./img/content/coral/int-2.jpg", alt="Улица Уокинг-стрит ")
					.dm-intresting__title Улица Уокинг-стрит 
					.dm-intresting__text Эта улица позволит вам погрузиться в&nbsp;необычный быт азиатской страны. Здесь можно прогуляться среди магазинов, перевести дух в&nbsp;местном кафе и&nbsp;понаблюдать за&nbsp;жизнью местного населения. Ночью улица особенно красивая: после заката солнца вся улица вспыхивает неоновыми вывесками.
				.dm-intresting__item
					.dm-intresting__img-wrap
						img.dm-intresting__img(src="./img/content/coral/int-3.jpg", alt="Деревня слонов")
					.dm-intresting__title Деревня слонов
					.dm-intresting__text Это настоящий поселок, чье население здесь составляют лишь слоны и&nbsp;их&nbsp;дрессировщики. В&nbsp;деревне можно не&nbsp;только прокатиться на&nbsp;этих дружелюбных животных, но&nbsp;и&nbsp;посмотреть интересное шоу&nbsp;&mdash; вы&nbsp;своими глазами увидите, как слоны играют в&nbsp;баскетбол или ходят строем.
				.dm-intresting__item
					.dm-intresting__img-wrap
						img.dm-intresting__img(src="./img/content/coral/int-4.jpg", alt="Парк миллионолетних камней")
					.dm-intresting__title Парк миллионолетних камней
					.dm-intresting__text Это очень необычное и&nbsp;любопытное место. Здесь можно не&nbsp;только получить эстетическое удовольствие, но&nbsp;и&nbsp;испытать сильные эмоции от&nbsp;увиденного. Особенно внимание туристов привлекают каменные скульптуры с&nbsp;весом больше 8000&nbsp;тонн, миниатюрные деревья Бонсай, которым больше 200&nbsp;лет, и&nbsp;самый большой в&nbsp;стране искусственный водопад.
				.dm-intresting__item
					.dm-intresting__img-wrap
						img.dm-intresting__img(src="./img/content/coral/int-5.jpg", alt="Океанариум Underwater World Pattaya")
					.dm-intresting__title Океанариум Underwater World Pattaya
					.dm-intresting__text Это одна из&nbsp;самых популярных достопримечательностей в&nbsp;Паттайи. Здесь можно ближе познакомиться с&nbsp;подводной жизнью Сиамского залива и&nbsp;Южно-Китайского моря. А&nbsp;еще в&nbsp;океанариуме есть открытый бассейн, где гости могут потрогать безопасных обителей подводного мира, водопад с&nbsp;карпами, вольер с&nbsp;выдрами, тоннель с&nbsp;акулами и&nbsp;многое другое!


section.dm-site-wrap2
	.dm-site-wrap__inner2
		.dm-gift
			.dm-gift__items
				.dm-gift__item
					.dm-gift__img-wrap
						.dm-gift__img.dm-gift__img--1
					.dm-gift__title Что привезти из Таиланда в подарок?
					.dm-gift__text – Тайские цукаты и фруктовые сладости#[br]– Лаковые шкатулки#[br]– Бумажные зонтики и веера#[br]— Зубные пасты на травах#[br]– Чай#[br]– Изделия из шелка#[br]– Кокосовое масло#[br]– Украшения с жемчугом, сапфирами и рубинами

//- section.dm-section--banner
//- 	+banner({
//- 		'title':'Осень и зима – отличное<br />время для экскурсий<br />и развлечений',
//- 		'text':'Устройте себе яркий отдых в ОАЭ!',
//- 		'img_lg':'./img/content/coral/banner-lg.jpg',
//- 		'img_sm':'./img/content/coral/banner-sm.jpg',
//- 		'alt':'Осень и зима – отличное время для экскурсий и развлечений',
//- 		'link':'https://www.coral.ru/main/uae/uaeexcursion/',
//- 		'btn_title':'Подробнее',
//- 	})

//- section.dm-section--banner2
//- 	+banner({
//- 		'title':'Отдыхать в ОАЭ<br />комфортнее вместе<br />с пакетами услуг',
//- 		'text':'Позвольте себе больше!',
//- 		'img_lg':'./img/content/coral/banner-2-lg.jpg',
//- 		'img_sm':'./img/content/coral/banner-2-sm.jpg',
//- 		'alt':'Отдыхать в ОАЭ комфортнее вместе с пакетами услуг',
//- 		'link':'https://www.coral.ru/poleznaya-informatsiya/hotels-service-packages/',
//- 		'btn_title':'Подробнее',
//- 	})
section.dm-site-wrap2
	.dm-site-wrap__inner2
		.dm-bottom
			.dm-bottom__left
				include components/share/share-coral
			.dm-bottom__right
				include components/contact/contact-coral

link(rel="stylesheet" href='./styles/coral.reset.css')
link(rel="stylesheet" href='./styles/main_coral.css')
script(src="./js/main_coral.js")