section.dm-section--benefits4
    .dm-benefits4
        .dm-benefits4__desc
            p.dm-text.dm-text--benefits4 Турция принимает гостей круглый год. Но&nbsp;многие туристы предпочитают отдыхать на&nbsp;турецких курортах именно в&nbsp;сентябре&nbsp;и&nbsp;октябре. Что&nbsp;же так притягивает отдыхающих?
            h2.dm-title4.dm-title4--benefits4 Мы&nbsp;выделили 6&nbsp;преимуществ отпуска&nbsp;в&nbsp;Турции&nbsp;осенью:

        .dm-benefits4__items
            .dm-benefits4__item
                .dm-benefits4__img-wrap
                    img.dm-benefits4__img(src="./img/content/coral/benefit4-1.jpg", alt="Отличный отдых с детьми")
                .dm-benefits4__item-desc
                    .dm-title2.dm-title2--benefits4 Отличный отдых с детьми
                    .dm-benefits4__item-text В&nbsp;сентябре и&nbsp;октябре жара спадает, солнце#[br]перестает быть активным, но&nbsp;купаться#[br]и&nbsp;загорать все еще комфортно. Отдыхающих#[br] становится меньше, а&nbsp;на&nbsp;пляжах свободнее.#[br] Это подходящее время для семейного отпуска.#[br] А&nbsp;еще во&nbsp;многих турецких отелях работает#[br] #[a(href="#" target="_blank") #[b Sun Family Club]], придуманная компанией#[br] Coral Travel, для веселого, активного#[br] и&nbsp;развивающего отдыха семей с&nbsp;детьми.

            .dm-benefits4__item
                .dm-benefits4__img-wrap
                    img.dm-benefits4__img(src="./img/content/coral/benefit4-2.jpg", alt="Привлекательные цены")
                .dm-benefits4__item-desc
                    .dm-title2.dm-title2--benefits4 Привлекательные цены
                    .dm-benefits4__item-text Осенью цены на&nbsp;туры ниже. Поэтому любой#[br] турист может позволить себе отдых в&nbsp;дорогом#[br] #[a(href="#" target="_blank") #[b отеле]], а&nbsp;заплатить за&nbsp;него немного меньше,#[br] чем в&nbsp;летний сезон.

            .dm-benefits4__item
                .dm-benefits4__img-wrap
                    img.dm-benefits4__img(src="./img/content/coral/benefit4-3.jpg", alt="Идеальное море")
                .dm-benefits4__item-desc
                    .dm-title2.dm-title2--benefits4 Идеальное море
                    .dm-benefits4__item-text К&nbsp;сентябрю море идеально прогревается#[br] и&nbsp;остается теплым до&nbsp;конца ноября.#[br] Поэтому турецкие курорты&nbsp;&mdash; это хороший#[br] вариант, куда можно отправиться на&nbsp;осенние#[br] каникулы с&nbsp;детьми.

            .dm-benefits4__item
                .dm-benefits4__img-wrap
                    img.dm-benefits4__img(src="./img/content/coral/benefit4-4.jpg", alt="Большие распродажи")
                .dm-benefits4__item-desc
                    .dm-title2.dm-title2--benefits4 Большие распродажи
                    .dm-benefits4__item-text В&nbsp;сентябре в&nbsp;Турции начинаются грандиозные#[br] распродажи. Цены снижаются до&nbsp;70%.#[br] А&nbsp;еще в&nbsp;турецких магазинах, кафе и&nbsp;ресторанах#[br] можно расплачиваться #[a(href="https://www.coral.ru/main/turkey/mir/" target="_blank") #[b картой &laquo;Мир&raquo;]].#[br] Обычно они клеят специальную наклейку#[br] о&nbsp;том, что принимаю карту &laquo;Мир&raquo;.

            .dm-benefits4__item
                .dm-benefits4__img-wrap
                    img.dm-benefits4__img(src="./img/content/coral/benefit4-5.jpg", alt="Фестивали и праздники")
                .dm-benefits4__item-desc
                    .dm-title2.dm-title2--benefits4 Фестивали и праздники
                    .dm-benefits4__item-text Осенью в&nbsp;Турции проходят яркие фестивали#[br] и&nbsp;праздники. Например, 29&nbsp;октября во&nbsp;всей#[br] Турции отмечается День республики.#[br] На&nbsp;улицах городов звучит гимн страны,#[br] вывешиваются флаги и&nbsp;проводятся#[br] торжественные мероприятия. Вечером#[br] в&nbsp;небо запускают красочные салюты.

            .dm-benefits4__item
                .dm-benefits4__img-wrap
                    img.dm-benefits4__img(src="./img/content/coral/benefit4-6.jpg", alt="Урожай фруктов")
                .dm-benefits4__item-desc
                    .dm-title2.dm-title2--benefits4 Урожай фруктов
                    .dm-benefits4__item-text В&nbsp;сентябре и&nbsp;октябре начинается сезон#[br] вкуснейших фруктов. Можно побаловать себя#[br] сладкими дынями, сахарными арбузами,#[br] ароматным виноградом и&nbsp;тающими во&nbsp;рту#[br] персиками и&nbsp;грушами. В&nbsp;это&nbsp;же время созревает#[br] турецкий гранат. Его должен попробовать#[br] каждый турист!