.dm-benefits5
    margin-bottom em(60)

    @media screen and (min-width: 769px)
        margin-bottom em(40)
        max-width em(1340)
        margin-left auto
        margin-right auto

    &__items
        padding 0 2em

        @media screen and (min-width: 769px)
            padding 0

    &__item
        margin-bottom em(60)

        @media screen and (min-width: 769px)
            display flex
            margin-bottom em(60)

            .dm-benefits5__item-desc
                width (584/16em)
            
            &:nth-child(odd)
                flex-direction row-reverse

                .dm-benefits5__item-desc
                    width (584/16em)
                
    &__img-wrap

    &__img
        display block
        height auto
        width 100%
        max-width: 100%
        margin-bottom em(40)

        @media screen and (min-width: 769px)
            width em(658)
            margin-bottom 0


    &__item-desc
        display flex
        flex-direction column
        justify-content center
        // align-items center

        @media screen and (min-width: 769px)
            margin-left auto
            margin-right auto
            text-align left
            align-items flex-start

    &__item-text
        font-weight 400
        font-size 1em
        line-height (19/16em)
        
        a
            color #0093D0!important

            &:hover
                text-decoration underline

    &__notes
        display flex
        justify-content space-between
        width 100%

    &__note
        text-align center

    &__note-img-wrap
        margin-bottom em(24)
    
    &__note-text
        font-size em(14)
        line-height (17/14em)
        font-weight 600
        margin-bottom (40/14em)
        text-transform uppercase

    &__title
        font-size em(48)
        line-height (54/48em)
        color #000
        margin-bottom (20/48em)
        font-weight bold

        @media screen and (min-width: 769px)
            font-size em(32)
            line-height (36/32em)
            margin-bottom (20/32em)

    &__text__p
        font-size em(32)
        line-height (44/32em)
        color #000
        margin-bottom (50/32em)

        @media screen and (min-width: 769px)
            font-size em(18)
            line-height (28/18em)
            margin-bottom (50/18em)

    &__title2
        font-size em(40)
        line-height (44/40em)
        color #000
        text-align center
        margin-bottom (80/40em)

        @media screen and (min-width: 769px)
            font-size em(40)
            line-height (44/40em)

.dm-text__items
    columns 2
    margin-bottom em(50)

.dm-text__item
    color #000
    font-size em(24)
    line-height (32/24em)
    margin-bottom 0.5em
    position relative
    padding 0 0 0 (36/24em)

    @media screen and (min-width: 769px)
        padding 0 0 0 (10/18em)
        font-size em(18)
        line-height (28/18em)
        margin-bottom 1em

    &:before
        position absolute
        content ''
        width: (6/24em)
        height: (6/24em)
        background-color #000
        border-radius: 50%
        left (16/24em)
        top: (12/24em)

        @media screen and (min-width: 769px)
            left 0
            top (11/18em)
            width (4/18em)
            height (4/18em)

.dm-benefits5__item-btn
    // text-align center

.dm-btn--benefits5
    font-size em(42)!important
    line-height (64/42em)!important
    min-width 0
    padding 0
    border-radius: (32/42em)
    padding 0 (40/42em)

    @media screen and (min-width: 769px)
        font-size em(20)!important
        line-height (48/20em)!important
        border-radius: (24/20em)
        padding 0 (30/20em)