.dm-block
	padding: em(80) em(60) em(60)
	@media screen and (min-width: 769px)
		max-width: em(1018)
		margin 0 auto
		padding em(80) 0 0

	&__text
		font-size em(24)
		line-height (32em/24)
		text-align center
		color #000

		@media screen and (min-width: 769px)
			font-size em(20)
			line-height (28em/20)