.dm-block
	padding 0 em(50)
	margin-bottom em(100)

	@media screen and (min-width: 769px)
		margin-bottom em(60)

	&__title
		font-size em(48)
		line-height (55em/48)
		font-weight 700
		text-align center
		color #000
		margin-bottom (30em/48)

	&__text
		font-size em(24)
		line-height (28em/24)
		text-align center
		color #000

		&--trip1
			text-align left
			padding-left (50/24em)
			padding-right (50/24em)
			padding-bottom (60/24em)

			@media screen and (min-width: 1200px)            
				padding-left 0
				padding-right 0
		
		&--tickets
			max-width (1300/24em)
			margin-left auto
			margin-right auto
			text-align left
			padding (70/24em) (50/24em) (90/24em)

		ul.dm-ul
			list-style none !important
			margin 0 !important
			padding 0 !important

			li
				padding 0 0 0 (36/24em) !important
				position relative !important
				
				&:after
					display none !important

				&:before
					width (6/24em)!important
					height (6/24em)!important
					background-color #000!important
					border-radius 50%!important
					position absolute!important
					content ''
					left (14/24em)!important
					top (10/24em)!important
		p
			margin 0
			
		p + p
			margin-top 1em

		ul.dm-ul + p
			margin-top 1em

		p + ul.dm-ul
			margin-top 1em