section.dm-section--block
	.dm-block
		.dm-block__title Страна–достопримечательность 
		.dm-block__text Страна&mdash;достопримечательность&nbsp;&mdash; так можно сказать&nbsp;об&nbsp;Объединенных Арабских Эмиратах.#[br]Красочное государство на&nbsp;берегах Персидского залива привлекает внимание туристов. Роскошные фонтаны, стеклянные небоскребы, изумительной красоты мечети и&nbsp;огромный горнолыжный комплекс прямо в&nbsp;пустыне. Отправляйтесь в&nbsp;ОАЭ прямо сейчас! Здесь&nbsp;есть&nbsp;на&nbsp;что&nbsp;посмотреть!