.dm-block
	padding: em(0) em(60)
	@media screen and (min-width: 769px)
		max-width: em(1018)
		margin 0 auto
		padding 0

	&__text
		font-size em(32)
		line-height (44em/32)
		text-align center
		color #000

		@media screen and (min-width: 769px)
			font-size em(20)
			line-height (28em/20)