// стили компонентов для проекта Sunmar
@import "btn/btn-sunmar"
// @import "intro/intro-search-sunmar"
@import "benefits/benefits-sunmar"
@import "benefits4/benefits4-sunmar"
@import "text-block/text-block-sunmar"
@import "intresting/intresting-sunmar"
@import "gift/gift-sunmar"
// @import "banner/banner-sunmar"
@import "share/share-sunmar"

.bcrumb.d-xl-block
    display none!important

.dm-color-red
    color #D8242A
    white-space: nowrap

.dm-intro__img
    width 100%
    display block
    height auto
    max-width: 100%
    margin 0 0 em(80)

    @media screen and (min-width: 769px)
        width em(1370)
        margin em(30) auto em(60)