// стили компонентов для проекта Coral
@import "btn/btn-coral"
// @import "intro/intro-search-coral"
@import "benefits/benefits-coral"
@import "benefits4/benefits4-coral"
@import "intresting/intresting-coral"
@import "gift/gift-coral"
@import "text-block/text-block-coral"
@import "contact/contact-coral"
@import "share/share-coral"
@import "ex/ex-coral"

.bcrumb.d-xl-block
    display none!important

.dm-tab
    &__headers
        display block
        padding 0 em(20)
        margin-bottom em(80)
        display flex
        justify-content center
        margin-top em(-30)

        @media screen and (min-width: 769px)
            margin-bottom em(60)
            justify-content: center
    
    &__title
        font-size em(24)
        line-height (29/24em)
        color #000
        font-weight bold
        transition all 0.3s
        border-radius (8/24em)
        text-align center
        cursor pointer
        padding (10/24em) (20/24em)
        user-select none
        margin 0
        min-width: (210/24em)
        font-weight bold
        filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.25));
        border-radius: 0
        background-color #fff

        &:nth-child(1)
            border-radius: (8/24em) 0 0 (8/24em)
        
        &:nth-child(2)
            border-radius: 0 (8/24em) (8/24em) 0

        @media screen and (min-width: 769px)
            font-size em(20)
            line-height (24/20em)
            padding (10/20em) (30/20em)

        &:hover
        &.selected
            background-color #F0AB00
            color #fff

        &__span
            text-transform uppercase
            font-weight 700
            display block

        &:first-child
            margin-left 0
        
        &:last-child
            margin-right 0

    &__banners
        height em(980)
        width em(680)
        margin 0 auto

        @media screen and (min-width: 769px)
            width em(1336)
            height em(420)

    &__img
        height em(980)
        width em(680)
        background-repeat no-repeat
        background-position 50% 0
        background-size em(680) em(980)
        border-radius: em(20)

        @media screen and (min-width: 769px)
            width em(1336)
            height em(420)
            background-size em(1336) em(420)

        &--1
            background-image url('../img/content/coral/banner-2-sm.jpg')

            @media screen and (min-width: 769px)
                background-image url('../img/content/coral/banner-2-lg.jpg')
        
        &--2
            background-image url('../img/content/coral/banner-1-sm.jpg')

            @media screen and (min-width: 769px)
                background-image url('../img/content/coral/banner-1-lg.jpg')

.dm-tabs

    &__header
        font-size: em(40)
        line-height: (44/40em)
        text-align: center;
        color: #000000;
        margin-bottom 2em
        font-weight bold

.dm-bottom
    @media screen and (min-width: 769px)
        display flex
        position relative
        margin-top em(30)
        margin-bottom em(90)

        &:before
            position absolute
            left 50%
            top em(10)
            bottom em(10)
            content ''
            width 1px
            background-color #000

        &__left
        &__right
            width 50%
            text-align center

        .dm-social-2-wrap
            padding 0
            display inline-block

        .dm-social-2--bottom
            padding em(8) 0 0 0
        
        .dm-contant
            margin 0

        .dm-social-2__title__span
            font-size (24/42em)
            font-weight normal
            line-height (80/24em)

        .dm-social-2__title
            text-align left
            margin 0

        .dm-social-2
            justify-content flex-start

        .dm-social-2__item
            margin 0 em(56) 0 0

        .dm-section--contact
            display inline-block
        
        .dm-contant__title
            text-align left

        .dm-contant__number
            text-align left
        
        .dm-contant__note
            text-align left