// стили компонентов для проекта Sunmar
@import "btn/btn-sunmar"
// @import "intro/intro-search-sunmar"
@import "benefits/benefits-sunmar"
@import "benefits4/benefits4-sunmar"
@import "text-block/text-block-sunmar"
@import "intresting/intresting-sunmar"
@import "gift/gift-sunmar"
// @import "banner/banner-sunmar"
@import "share/share-sunmar"
@import "ex/ex-sunmar"

.bcrumb.d-xl-block
    display none!important

.dm-color-red
    color #D8242A
    white-space: nowrap

.dm-intro__img
    width 100%
    display block
    height auto
    max-width: 100%
    margin 0 0 em(80)

    @media screen and (min-width: 769px)
        width em(1370)
        margin em(30) auto em(60)


.dm-tab
    &__headers
        display block
        padding 0 em(120)
        margin-bottom em(80)
        display flex
        justify-content center

        @media screen and (min-width: 769px)
            margin-bottom em(60)
    
    &__title
        font-size em(32)
        line-height (44/32em)
        color #000
        font-weight 700
        transition all 0.3s
        border-radius (100/32em)
        border: 2px solid #D8242A;
        text-align center
        cursor pointer
        padding (10/32em) (20/32em)
        user-select none
        margin 0 0.5em

        @media screen and (min-width: 769px)
            font-size em(20)
            line-height (28/20em)
            padding (10/20em) (30/20em)
            margin 0 1.5em

        &:hover
        &.selected
            background-color #D8242A
            color #fff
            border-color #D8242A

        &__span
            text-transform uppercase
            font-weight 700
            display block

        &:first-child
            margin-left 0
        
        &:last-child
            margin-right 0