// стили компонентов для проекта Coral
@import "btn/btn-coral"
@import "intro/intro-search-coral"
@import "benefits/benefits-coral"
@import "benefits4/benefits4-coral"
@import "intresting/intresting-coral"
@import "gift/gift-coral"
@import "text-block/text-block-coral"
@import "contact/contact-coral"
@import "share/share-coral"

.bcrumb.d-xl-block
    display none!important

.dm-bottom
    @media screen and (min-width: 769px)
        display flex
        position relative
        margin-top em(30)
        margin-bottom em(90)

        &:before
            position absolute
            left 50%
            top em(10)
            bottom em(10)
            content ''
            width 1px
            background-color #000

        &__left
        &__right
            width 50%
            text-align center

        .dm-social-2-wrap
            padding 0
            display inline-block

        .dm-social-2--bottom
            padding em(8) 0 0 0
        
        .dm-contant
            margin 0

        .dm-social-2__title__span
            font-size (24/42em)
            font-weight normal
            line-height (80/24em)

        .dm-social-2__title
            text-align left
            margin 0

        .dm-social-2
            justify-content flex-start

        .dm-social-2__item
            margin 0 em(56) 0 0

        .dm-section--contact
            display inline-block
        
        .dm-contant__title
            text-align left

        .dm-contant__number
            text-align left
        
        .dm-contant__note
            text-align left