.dm-plane
    .dm-title.dm-title--plane Прямые&nbsp;рейсы #[span.dm-nowrap из&nbsp;Санкт-Петербурга] в&nbsp;Турцию
    .dm-plane__info-wrap
        .dm-plane__info
            .dm-plane__row.dm-plane__row--img-wrap
                img.dm-plane__img(src="./img/content/coral/plane-icon.png", alt="")
            .dm-plane__row.dm-plane__row--city
                .dm-plane__city Санкт-Петербург
                .dm-plane__city Анталья
            .dm-plane__row.dm-plane__row--time
                .dm-plane__time #[img.dm-plane__time-img(src="./img/content/coral/plane-icon2.png", alt="")] Ежедневно
            .dm-plane__row.dm-plane__row--btn-wrap
                a(href="https://www.coral.ru/packagetours/sanktpeterburg-to-turtsiya-tours/?q=%7b%22Bgn%22%3a%2226.07.2022%22%2c%22End%22%3a%2226.07.2022%22%2c%22Dr%22%3a%220%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%226hSXakLgwiKyP7fvCilw%2fgZAS3DlVEEhzfF3hA3LGnsxvFrQgGqHjzAElyE5uFaJUCwVVuE0YHY2XZsXjWTMH0Lo6i3xDIs1WFzOsywHu%2bH7Il9OHH1qTzyqgKwBO%2bcjNj4HtzY07bH4ta8vTgtsKBuq5aMQvW9NZQUrKjaqMt0%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d&f=%7b%22Hid%22%3a%5b453%2c748%2c983%2c949%2c853%2c12879%2c749%2c15801%2c25065%2c13570%2c476%2c451%2c46532%2c982%2c31177%2c588%2c465%2c10197%2c9910%2c30477%2c22140%2c5107%2c20518%2c30303%2c682%2c11051%2c8219%5d%2c%22Pr%22%3a%5b0.0%2c0.0%5d%2c%22Rh%22%3afalse%2c%22Ao%22%3a%5b%22available%22%5d%7d&page=1&pp=50&sort=" target="_blank").dm-plane__btn Забронировать тур

        .dm-plane__info
            .dm-plane__row.dm-plane__row--img-wrap
                img.dm-plane__img(src="./img/content/coral/plane-icon.png", alt="")
            .dm-plane__row.dm-plane__row--city
                .dm-plane__city Санкт-Петербург
                .dm-plane__city Даламан
            .dm-plane__row.dm-plane__row--time
                .dm-plane__time #[img.dm-plane__time-img(src="./img/content/coral/plane-icon2.png", alt="")] ПН, СР, ЧТ, СБ и ВС
            .dm-plane__row.dm-plane__row--btn-wrap
                a(href="https://www.coral.ru/packagetours/sanktpeterburg-to-turtsiya-tours/?q=%7b%22Bgn%22%3a%2223.07.2022%22%2c%22End%22%3a%2229.07.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22keTUWGCaVcp7OoOPG0SlzUPxO45c0fjxH%2fqnaoj%2fAPde8I5dcJuJw%2b6lWeA%2bmwsisx4zebjimoTFp1kuVa83NcGgN%2fxBL14%2boAlYlww6a%2fRbHrqUjlJrbBTKvaMhxk14BNDf2qxGESbt6nBB5ynl9BYPH8rDHm4X%2ba%2fNfqvgkSc%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d&f=%7b%22Hid%22%3a%5b17813%2c29836%5d%2c%22Pr%22%3a%5b0.0%2c0.0%5d%2c%22Rh%22%3afalse%2c%22Ao%22%3a%5b%22available%22%5d%7d&page=1&pp=50&sort=" target="_blank").dm-plane__btn Забронировать тур

    .dm-plane__info-wrap.dm-plane__info-wrap--3
        .dm-plane__info.dm-plane__info
            .dm-plane__row.dm-plane__row--img-wrap
                img.dm-plane__img(src="./img/content/coral/plane-icon.png", alt="")
            .dm-plane__row.dm-plane__row--city
                .dm-plane__city Санкт-Петербург
                .dm-plane__city Бодрум
            .dm-plane__row.dm-plane__row--time
                .dm-plane__time #[img.dm-plane__time-img(src="./img/content/coral/plane-icon2.png", alt="")] ПН, СР, ПТ и СБ
            .dm-plane__row.dm-plane__row--btn-wrap
                a(href="https://www.coral.ru/packagetours/sanktpeterburg-to-turtsiya-tours/?q=%7b%22Bgn%22%3a%2223.07.2022%22%2c%22End%22%3a%2229.07.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22keTUWGCaVcp7OoOPG0SlzUPxO45c0fjxH%2fqnaoj%2fAPde8I5dcJuJw%2b6lWeA%2bmwsisx4zebjimoTFp1kuVa83NcGgN%2fxBL14%2boAlYlww6a%2fRbHrqUjlJrbBTKvaMhxk14BNDf2qxGESbt6nBB5ynl9BYPH8rDHm4X%2ba%2fNfqvgkSc%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d&f=%7b%22Pr%22%3a%5b0.0%2c0.0%5d%2c%22Rg%22%3a%5b29%2c17%2c18%2c210%2c209%2c30%2c19%2c10732%2c20%2c21%2c22%2c32%2c23%2c24%2c33%2c25%2c28%2c27%2c8654%2c8653%2c40%2c9113%2c8655%2c51%2c8425%2c52%2c9114%5d%2c%22Rh%22%3afalse%2c%22Ao%22%3a%5b%22available%22%5d%7d&page=1&pp=&sort=" target="_blank").dm-plane__btn Забронировать тур