.dm-plane
    .dm-title.dm-title--plane Прямые&nbsp;рейсы #[span.dm-nowrap из&nbsp;Казани] в&nbsp;Турцию
    .dm-plane__info-wrap
        .dm-plane__info
            .dm-plane__row.dm-plane__row--img-wrap.dm-plane__row--kazan
                img.dm-plane__img(src="./img/content/coral/plane-icon4.png", alt="")
            .dm-plane__row.dm-plane__row--city
                .dm-plane__city Казань
                .dm-plane__city Анталья
            .dm-plane__row.dm-plane__row--time
                .dm-plane__time #[img.dm-plane__time-img(src="./img/content/coral/plane-icon2.png", alt="")] Ежедневно
            .dm-plane__row.dm-plane__row--btn-wrap
                a(href="https://www.coral.ru/packagetours/kazan-to-turtsiya-tours/?q=%7b%22Bgn%22%3a%2225.07.2022%22%2c%22End%22%3a%2231.07.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22ohyymPpO7M7qWNB1%2feJZwhv7MQbnlldyrrxbZ5lBCjzpjjf8ac38384jSW6in9H8QbYpM4f9fRZEYnEzhR81CKRUdsRpc2nG67Qtk%2byZwLUmZW4WMd2i%2bV%2fo2hBqE4%2f%2f%2fM1kra4YKZaSKHrkslVAqg%3d%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d&f=%7b%22Hid%22%3a%5b749%2c22140%2c21627%2c748%2c26682%2c476%2c21444%2c793%2c46532%2c15367%2c18139%2c970%2c10197%2c949%2c967%2c588%2c13570%2c15801%2c11051%2c682%2c708%2c6528%2c853%2c453%2c30477%2c656%2c25065%5d%2c%22Pr%22%3a%5b0.0%2c0.0%5d%2c%22Rh%22%3afalse%2c%22Ao%22%3a%5b%22available%22%5d%7d&page=1&pp=50&sort=" target="_blank").dm-plane__btn Забронировать тур

        .dm-plane__info
            .dm-plane__row.dm-plane__row--img-wrap
                img.dm-plane__img(src="./img/content/coral/plane-icon.png", alt="")
            .dm-plane__row.dm-plane__row--city
                .dm-plane__city Казань
                .dm-plane__city Даламан
            .dm-plane__row.dm-plane__row--time
                .dm-plane__time #[img.dm-plane__time-img(src="./img/content/coral/plane-icon2.png", alt="")] ВТ, ЧТ, ПТ и ВС
            .dm-plane__row.dm-plane__row--btn-wrap
                a(href="https://www.coral.ru/packagetours/kazan-to-turtsiya-tours/?q=%7b%22Bgn%22%3a%2225.07.2022%22%2c%22End%22%3a%2231.07.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22TJDxNXXFGQRwoQehtvYOZ2ksLKs5EvFWQnHX0faXkst8R3XMkCBOg9G7Q9UEE7nML3LXgodChkBOunCQzpl1ZZHQJvSW39u7%2b0pdijvu0lB8zOSf9Y1m8wtnKR4BXUH1yNRQyteHDmwlfvYvlzEQgw%3d%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3atrue%2c%22Srt%22%3a1%7d&f=%7b%22Hid%22%3a%5b10825%2c10105%2c17847%5d%2c%22Pr%22%3a%5b0.0%2c0.0%5d%2c%22Rh%22%3afalse%2c%22Ao%22%3a%5b%22available%22%5d%7d&page=1&pp=&sort=" target="_blank").dm-plane__btn Забронировать тур

    .dm-plane__info-wrap.dm-plane__info-wrap--3
        .dm-plane__info
            .dm-plane__row.dm-plane__row--img-wrap
                img.dm-plane__img(src="./img/content/coral/plane-icon.png", alt="")
            .dm-plane__row.dm-plane__row--city
                .dm-plane__city Казань
                .dm-plane__city Бодрум
            .dm-plane__row.dm-plane__row--time
                .dm-plane__time #[img.dm-plane__time-img(src="./img/content/coral/plane-icon2.png", alt="")] ПН, СР и СБ
            .dm-plane__row.dm-plane__row--btn-wrap
                a(href="https://www.coral.ru/packagetours/kazan-to-turtsiya-tours/?q=%7b%22Bgn%22%3a%2225.07.2022%22%2c%22End%22%3a%2231.07.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22kb%2b8LX69UaJGxuu5JqAs976E%2baNongyErebGbLk4Va8ZeR28WDG%2bZjztvcwZQSmQYDbuioq71e%2bsHIm652ki3EruYHpYOiFmBy86Y4hFFH%2fLxbPhEMbkYJDv3F2WxiORpucaCPNhPjoXjY0UJDh1Vw%3d%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d&f=%7b%22Pr%22%3a%5b0.0%2c0.0%5d%2c%22Rg%22%3a%5b29%2c17%2c18%2c210%2c209%2c30%2c19%2c10732%2c20%2c21%2c22%2c32%2c23%2c24%2c33%2c25%2c28%2c27%2c8654%2c8653%2c40%2c9113%2c8655%2c51%2c8425%2c52%2c9114%5d%2c%22Rh%22%3afalse%2c%22Ao%22%3a%5b%22available%22%5d%7d&page=1&pp=&sort=" target="_blank").dm-plane__btn Забронировать тур