.dm-plane
    .dm-title.dm-title--plane Прямые&nbsp;рейсы #[span.dm-nowrap из&nbsp;Челябинска] в&nbsp;Турцию
    .dm-plane__info-wrap.dm-plane__info-wrap--3
        .dm-plane__info
            .dm-plane__row.dm-plane__row--img-wrap
                img.dm-plane__img(src="./img/content/coral/plane-icon.png", alt="")
            .dm-plane__row.dm-plane__row--city
                .dm-plane__city Челябинск
                .dm-plane__city Анталья
            .dm-plane__row.dm-plane__row--time
                .dm-plane__time #[img.dm-plane__time-img(src="./img/content/coral/plane-icon2.png", alt="")] Ежедневно
            .dm-plane__row.dm-plane__row--btn-wrap
                a(href="https://www.coral.ru/packagetours/chelyabinsk-to-turtsiya-tours/?q=%7b%22Bgn%22%3a%2225.07.2022%22%2c%22End%22%3a%2231.07.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22MSFHk%2fYo9B771M9HYhdNdnk3x0jkxHctJADhbAq2bnp5gvrzSBOqcTYR3ZS7HG6R3NVcCURv3lurvKPjqryUxHMwsGHsfmEsDrqqIjAIVQgGB2SkZNZBWgrr5w8x91RPjfOjp5eMDv7HRiNt7Wt6Nw2F5CtV8eLNv09dXN3NaUw%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d&f=%7b%22Hid%22%3a%5b748%2c476%2c22140%2c20518%2c21627%2c14263%2c793%2c12823%2c21444%2c20891%2c15367%2c6394%2c10197%2c980%2c982%2c588%2c955%2c15801%2c13570%2c9246%2c323%2c1000%2c34449%2c18408%2c453%2c6528%2c30559%2c30511%2c35913%5d%2c%22Pr%22%3a%5b0.0%2c0.0%5d%2c%22Rh%22%3afalse%2c%22Ao%22%3a%5b%22available%22%5d%7d&page=1&pp=50&sort=" target="_blank").dm-plane__btn Забронировать тур