.dm-plane
    .dm-title.dm-title--plane Прямые&nbsp;рейсы #[span.dm-nowrap из&nbsp;Екатеринбурга] в&nbsp;Турцию
    .dm-plane__info-wrap
        .dm-plane__info
            .dm-plane__row.dm-plane__row--img-wrap
                img.dm-plane__img(src="./img/content/coral/plane-icon3.png", alt="")
            .dm-plane__row.dm-plane__row--city
                .dm-plane__city Екатеринбург
                .dm-plane__city Анталья
            .dm-plane__row.dm-plane__row--time
                .dm-plane__time #[img.dm-plane__time-img(src="./img/content/coral/plane-icon2.png", alt="")] ПН, СР, ЧТ и СБ
            .dm-plane__row.dm-plane__row--btn-wrap
                a(href="https://www.coral.ru/packagetours/ekaterinburg-to-turtsiya-tours/?q=%7b%22Bgn%22%3a%2225.07.2022%22%2c%22End%22%3a%2231.07.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22PvJjZLXtpVkrb895YyxPqQqnrJZM9zO6sZ%2bovIgsqNR8cGnL1chUo%2fzfkh6yV%2b6t03jYJK9SL1K1g91IJQUjBGf1oW15qYjIPZf6ndOeTqsuBQ%2fllpm3bvgJnxF2%2fhkkyzCpXAiAVHdXr9uwqAuEf9eQE2j6VRDK7FFpy1canNg%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d&f=%7b%22Hid%22%3a%5b748%2c476%2c22140%2c20518%2c21627%2c14263%2c793%2c12823%2c21444%2c20891%2c15367%2c6394%2c10197%2c980%2c982%2c588%2c955%2c15801%2c13570%2c9246%2c323%2c1000%2c34449%2c18408%2c453%2c6528%2c30559%2c30511%2c35913%5d%2c%22Pr%22%3a%5b0.0%2c0.0%5d%2c%22Rh%22%3afalse%2c%22Ao%22%3a%5b%22available%22%5d%7d&page=1&pp=50&sort=" target="_blank").dm-plane__btn Забронировать тур

        .dm-plane__info
            .dm-plane__row.dm-plane__row--img-wrap
                img.dm-plane__img(src="./img/content/coral/plane-icon3.png", alt="")
            .dm-plane__row.dm-plane__row--city
                .dm-plane__city Екатеринбург
                .dm-plane__city Даламан
            .dm-plane__row.dm-plane__row--time
                .dm-plane__time #[img.dm-plane__time-img(src="./img/content/coral/plane-icon2.png", alt="")] ВТ и ПТ
            .dm-plane__row.dm-plane__row--btn-wrap
                a(href="https://www.coral.ru/packagetours/ekaterinburg-to-turtsiya-tours/?q=%7b%22Bgn%22%3a%2225.07.2022%22%2c%22End%22%3a%2231.07.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22BEz27yX941HTPMOcr%2fTWval1uH6b2OunraUiwhiBaw5%2b%2b7nytcilFocYqSzS3ltg6PhEWGEY1NmcVR8%2fQtz8U%2b49J%2bgG%2bxtrsFYKBavWGFxbHkrsAil9Hht0E1aonjuOyIEWsNDOlGTfzXF7iWjzG5IqxxkslcbVuOSIZH5LLEI%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d&f=%7b%22Pr%22%3a%5b0.0%2c0.0%5d%2c%22Rg%22%3a%5b42%2c63%2c11080%2c14551%2c55%2c57%2c130%2c59%2c60%2c58%2c61%2c8239%2c1931%2c45%2c43%2c44%2c41%2c2130%5d%2c%22Rh%22%3afalse%2c%22Ao%22%3a%5b%22available%22%5d%7d&page=1&pp=&sort=" target="_blank").dm-plane__btn Забронировать тур