.dm-plane
    .dm-title.dm-title--plane Прямые&nbsp;рейсы #[span.dm-nowrap из&nbsp;Уфы] в&nbsp;Турцию
    .dm-plane__info-wrap
        .dm-plane__info
            .dm-plane__row.dm-plane__row--img-wrap
                img.dm-plane__img(src="./img/content/coral/plane-icon3.png", alt="")
            .dm-plane__row.dm-plane__row--city
                .dm-plane__city Уфа
                .dm-plane__city Анталья
            .dm-plane__row.dm-plane__row--time
                .dm-plane__time #[img.dm-plane__time-img(src="./img/content/coral/plane-icon2.png", alt="")] ВТ, ПТ и ВС
            .dm-plane__row.dm-plane__row--btn-wrap
                a(href="https://www.coral.ru/packagetours/ufa-to-turtsiya-tours/?q=%7b%22Bgn%22%3a%2226.07.2022%22%2c%22End%22%3a%2201.08.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22NKKu%2fcUpYDMuzto4vbk3xY%2b0rq%2fXOI8fG82V5Tevpmmblpb9q0UGtPjdpQvC3oz4ZcH1Eyx%2b962p58tceY3ukdUa9%2fA2bXUqCyXXIRwemwjgz4AWK4UjcwCLuxeW2dW%2fvmeug3ia7mShAE1UJoKldg%3d%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d&f=%7b%22Hid%22%3a%5b22140%2c13570%2c46532%2c970%2c8352%2c703%2c21601%2c853%2c954%2c30303%2c528%2c21627%2c10343%2c22065%2c323%2c974%2c15367%2c27772%2c21843%2c476%2c948%2c949%2c7955%2c656%2c21444%2c345%2c20518%2c10017%5d%2c%22Pr%22%3a%5b0.0%2c0.0%5d%2c%22Rh%22%3afalse%2c%22Ao%22%3a%5b%22available%22%5d%7d&page=1&pp=50&sort=" target="_blank").dm-plane__btn Забронировать тур

        .dm-plane__info
            .dm-plane__row.dm-plane__row--img-wrap
                img.dm-plane__img(src="./img/content/coral/plane-icon3.png", alt="")
            .dm-plane__row.dm-plane__row--city
                .dm-plane__city Уфа
                .dm-plane__city Даламан
            .dm-plane__row.dm-plane__row--time
                .dm-plane__time #[img.dm-plane__time-img(src="./img/content/coral/plane-icon2.png", alt="")] СР и СБ
            .dm-plane__row.dm-plane__row--btn-wrap
                a(href="https://www.coral.ru/packagetours/ufa-to-turtsiya-tours/?q=%7b%22Bgn%22%3a%2226.07.2022%22%2c%22End%22%3a%2201.08.2022%22%2c%22Dr%22%3a%223%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%22l%2bKvR4SPDg1hWGH00Oqq8nN882xdfhUu62iR5HLbcIy%2bIMu9s4MA8khL%2fPbxgJ%2fvHRoZMCPtZWezO5rOgcveOOzRwzyuH05VFRs7e3PjR%2bPR5HFS%2bqplU2m2ZGyC9WeF3vi2lJIDpCJXsSajFj%2bahg%3d%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d&f=%7b%22Pr%22%3a%5b0.0%2c0.0%5d%2c%22Rg%22%3a%5b42%2c63%2c11080%2c14551%2c55%2c57%2c130%2c59%2c60%2c58%2c61%2c8239%2c1931%2c45%2c43%2c44%2c41%2c2130%5d%2c%22Rh%22%3afalse%2c%22Ao%22%3a%5b%22available%22%5d%7d&page=1&pp=&sort=" target="_blank").dm-plane__btn Забронировать тур