.dm-plane
    .dm-title.dm-title--plane Прямые&nbsp;рейсы #[span.dm-nowrap из&nbsp;Челябинска] в&nbsp;Турцию
    .dm-plane__info-wrap.dm-plane__info-wrap--3
        .dm-plane__info
            .dm-plane__row.dm-plane__row--img-wrap
                img.dm-plane__img(src="./img/content/coral/plane-icon.png", alt="")
            .dm-plane__row.dm-plane__row--city
                .dm-plane__city Челябинск
                .dm-plane__city Анталья
            .dm-plane__row.dm-plane__row--time
                .dm-plane__time #[img.dm-plane__time-img(src="./img/content/coral/plane-icon2.png", alt="")] ПН, СР, ЧТ, ПТ и ВС
            .dm-plane__row.dm-plane__row--btn-wrap
                a(href="https://www.coral.ru/packagetours/chelyabinsk-to-antalyyaantalya-tours/?q=%7b%22Bgn%22%3a%2229.07.2022%22%2c%22End%22%3a%2229.07.2022%22%2c%22Dr%22%3a%220%22%2c%22Acc%22%3a%227%22%2c%22Gest%22%3a%222%22%2c%22Q%22%3a%221sO5%2f%2fRvFSQsTadLxjnVgqOAmEXn1VX7FsZFbymBUsY%2fHnbewBNpK29WoGpdLCYQcSWoUGvq8PHtVjNxQIgVrfBMCo9bQDeHvRIKHJdGX7oz22gVlhSGcpNgCsaHg%2buBx7rwxuWqTl9txleEeAObau5KrS69QJTN4BDTI17O0kk%3d%22%2c%22Ts%22%3a0%2c%22Las%22%3afalse%2c%22AcId%22%3a0%2c%22FDate%22%3a%220001-01-01T00%3a00%3a00Z%22%2c%22Ref%22%3afalse%2c%22Pstatus%22%3afalse%2c%22TransferPrice%22%3a0.0%2c%22Chr%22%3atrue%2c%22Rglr%22%3afalse%2c%22Srt%22%3a1%7d&f={%22Rh%22:false,%22Ao%22:[%22available%22]}&page=1" target="_blank").dm-plane__btn Забронировать тур